# Evaluate DB91 Running_Panels 
Finding SNPS and samples that didn't work

## Check each run separately

In [1]:
import pandas as pd
import numpy as np

In [13]:
bad52SnpDict = {}
bad39SnpDict = {}
badSampleDict = {}
increps = {}
goodSamps = []

### 021920 (just getting good samples)

In [21]:
suf = "021920"

#### Read in autoclustered genotype reports

In [26]:
%expand
infile1 = "../Panel_Design/{suf}20_Test/GenotypeArea_Katherine_DB_CHIP707_DB52_{suf}20_CHIP707_DB52_{suf}20_1_AC.xls"
infile2 = "../Panel_Design/{suf}20_Test/GenotypeArea_Katherine_DB_CHIP708_DB39_{suf}20_CHIP708_DB39_{suf}20_1_AC.xls"

In [27]:
# read in Genotypes sheet from excel file 
inxl52 = pd.ExcelFile(infile1)
inxl39 = pd.ExcelFile(infile2)

## ID and remove bad samples

In [28]:
def p2f(x):
    return float(x.strip('%'))/100

db52_sample = inxl52.parse('Sample_Summary', converters={'CallRate':p2f})
#db52_sample.loc[100:,]

In [29]:
failed52_sampleDF = db52_sample[db52_sample['CallRate'] < 0.8]
failed52_sample = set(failed52_sampleDF["SAMPLE_NAME"] + "_"+failed52_sampleDF["WELL"])
failed52_sample

{'CANOT11837_H06',
 'LA1136_C12',
 'LAMAR2_A10',
 'LAMAR2_H09',
 'Otter19_A02',
 'SL04_A07'}

In [32]:
def stripX(x):
    return x[1:]

db39_sample = inxl39.parse('Sample_Summary', converters={'CallRate':p2f,'SAMPLE_NAME':stripX})
#db39_sample.loc[50:100,]

In [33]:
failed39_sampleDF = db39_sample[db39_sample['CallRate'] < 0.8]
failed39_sample = set(failed39_sampleDF["SAMPLE_NAME"] + "_"+failed39_sampleDF["WELL"])
failed39_sample

{'CANOT11837_H06',
 'LA1136_C12',
 'LAMAR2_A10',
 'LAMAR2_H09',
 'Otter19_A02',
 'SL04_A07'}

In [34]:
#Intersection
failed39_sample.intersection(failed52_sample)

{'CANOT11837_H06',
 'LA1136_C12',
 'LAMAR2_A10',
 'LAMAR2_H09',
 'Otter19_A02',
 'SL04_A07'}

In [35]:
# Union
union_bad_samp = set(failed52_sampleDF['SAMPLE_NAME']).union(set(failed39_sampleDF['SAMPLE_NAME']))
union_bad_samp

{'CANOT11837', 'LA1136', 'LAMAR2', 'Otter19', 'SL04'}

In [36]:
pass52 = db52_sample[~db52_sample['SAMPLE_NAME'].isin(union_bad_samp)]
pass39 = db39_sample[~db39_sample['SAMPLE_NAME'].isin(union_bad_samp)]

In [37]:
goodSamps = goodSamps + list(pass52['SAMPLE_NAME'])

In [38]:
# add to good Samps file
# add to existing goodSamps file
with open("goodSamps_0417_0529", "a") as myfile:
    myfile.writelines("%s\n" % s for s in sorted(goodSamps))

### 03272020

In [1]:
suf = "032720"

#### Read in autoclustered genotype reports

In [7]:
%expand
infile1 = "{suf}20/GenotypeArea_Katherine_DB_CHIP_723_52DB_{suf}20_CHIP723_{suf}20_1_ACme.xls"
infile2 = "{suf}20/GenotypeArea_Katherine_DB_CHIP724_DB39_{suf}20_CHIP724_{suf}20_1_ACme.xls"

In [8]:
# read in Genotypes sheet from excel file 
inxl52 = pd.ExcelFile(infile1)
inxl39 = pd.ExcelFile(infile2)

## ID and remove bad samples

In [9]:
def p2f(x):
    return float(x.strip('%'))/100

db52_sample = inxl52.parse('Sample_Summary', converters={'CallRate':p2f})
#db52_sample.loc[100:,]

In [10]:
failed52_sampleDF = db52_sample[db52_sample['CallRate'] < 0.8]
failed52_sample = set(failed52_sampleDF["SAMPLE_NAME"] + "_"+failed52_sampleDF["WELL"])
failed52_sample

{'AGF19_088_C03',
 'GU46_E06',
 'GU55_E07',
 'GU61_F01',
 'LA10_006_F11',
 'LA10_15_F12',
 'LA11_30_F09',
 'LA11_32_F10',
 'LA11_33_F07',
 'LA11_34_F08',
 'LAMAR2_B_D11',
 'NB12_A02',
 'Otter19_H06',
 'TWRA20_020_G12',
 'VADGIF19_795_B10',
 'VADGIF19_811_B12',
 'VADGIF19_812_C01',
 'VADGIF19_812_C11'}

In [11]:
#def stripX(x):
#    return x[1:]

db39_sample = inxl39.parse('Sample_Summary', converters={'CallRate':p2f})
#db39_sample.loc[50:100,]

In [12]:
failed39_sampleDF = db39_sample[db39_sample['CallRate'] < 0.8]
failed39_sample = set(failed39_sampleDF["SAMPLE_NAME"] + "_"+failed39_sampleDF["WELL"])
failed39_sample

{'GU46_E06',
 'GU55_E07',
 'GU56_E09',
 'LA10_006_F11',
 'LA10_15_F12',
 'LA11_30_F09',
 'LA11_32_F10',
 'LA11_33_F07',
 'LA11_34_F08',
 'LAMAR2_B_D11',
 'Otter19_H06',
 'RM09_H08'}

In [13]:
#Intersection
failed39_sample.intersection(failed52_sample)

{'GU46_E06',
 'GU55_E07',
 'LA10_006_F11',
 'LA10_15_F12',
 'LA11_30_F09',
 'LA11_32_F10',
 'LA11_33_F07',
 'LA11_34_F08',
 'LAMAR2_B_D11',
 'Otter19_H06'}

In [14]:
# Union
union_bad_samp = set(failed52_sampleDF['SAMPLE_NAME']).union(set(failed39_sampleDF['SAMPLE_NAME']))
union_bad_samp

{'AGF19_088',
 'GU46',
 'GU55',
 'GU56',
 'GU61',
 'LA10_006',
 'LA10_15',
 'LA11_30',
 'LA11_32',
 'LA11_33',
 'LA11_34',
 'LAMAR2_B',
 'NB12',
 'Otter19',
 'RM09',
 'TWRA20_020',
 'VADGIF19_795',
 'VADGIF19_811',
 'VADGIF19_812'}

In [15]:
pass52 = db52_sample[~db52_sample['SAMPLE_NAME'].isin(union_bad_samp)]
pass39 = db39_sample[~db39_sample['SAMPLE_NAME'].isin(union_bad_samp)]

In [18]:
goodSamps = goodSamps + list(pass52['SAMPLE_NAME'])

In [19]:
# add to good Samps file
# add to existing goodSamps file
with open("goodSamps_0417_0529", "a") as myfile:
    myfile.writelines("%s\n" % s for s in sorted(goodSamps))

In [14]:
%expand
badSampleDict["{suf}"] = list(union_bad_samp)
badSampleDict

{'032720': ['LA10_006',
  'VADGIF19_795',
  'GU56',
  'LAMAR2_B',
  'VADGIF19_812',
  'GU61',
  'LA11_34',
  'AGF19_088',
  'LA11_33',
  'RM09',
  'TWRA20_020',
  'LA11_32',
  'Otter19',
  'GU46',
  'GU55',
  'NB12',
  'LA11_30',
  'VADGIF19_811',
  'LA10_15']}

## ID bad SNPs

In [15]:
db52_geno = inxl52.parse('Genotypes')

In [16]:
db52_geno_filt = db52_geno.loc[pass52.index]

In [17]:
df = db52_geno_filt
coverage_row= df.iloc[:,2:].count()/len(df.iloc[:,2:])
df_coverage=pd.DataFrame(data=coverage_row).T
df_coverage=df_coverage.reindex(columns=df.columns)
df52 =df.append(df_coverage,ignore_index=True).T
df52.tail()

,0,1,2,3,4,5,6,7,8,9,...,67,68,69,70,71,72,73,74,75,76
X247730_24337,C,C,C,C,C,T,T,C,T,C,...,T,T,T,T,CT,CT,CT,CT,CT,0.986842
X248436_64413,T,T,T,T,T,C,C,T,C,T,...,C,C,C,C,TC,TC,TC,TC,TC,1
X2819_3199,G,G,G,G,G,A,A,G,A,G,...,A,A,A,A,AG,AG,AG,AG,AG,1
X8113_1011,T,T,T,T,T,A,A,T,A,T,...,A,A,A,A,TA,TA,TA,TA,TA,1
X99650_7157,G,G,G,G,G,A,A,G,A,G,...,A,A,A,A,GA,GA,GA,GA,GA,1

In [18]:
good52_snpDF = df52.iloc[0:2,:].append(df52[df52.iloc[:,76] >= 0.9])
good52_snpDF.head()

,0,1,2,3,4,5,6,7,8,9,...,67,68,69,70,71,72,73,74,75,76
SAMPLE_NAME,AGF19_008,AGF19_056,AGF19_059,AGF19_071,ASF20_001,ASF20_002,ASF20_002,ASF20_003,ASF20_005,ASF20_006,...,TWRA20_024,TWRA20_026,TWRA20_029,TWRA20_031,VADGIF19_598,VADGIF19_615,VADGIF19_661,VADGIF19_723,VADGIF19_810,NaN
WELL,C02,C04,C05,C06,A09,G01,G08,A10,G02,A11,...,H02,H03,H04,H05,B06,B07,B08,B09,B11,NaN
X104650_2998,NaN,TC,TC,TC,C,T,T,C,T,C,...,T,T,T,T,T,TC,TC,TC,TC,0.986842
X104795_7287,GA,GA,A,GA,A,A,A,NaN,A,A,...,A,A,A,A,A,A,A,A,A,0.986842
X107554_774,NaN,C,T,T,T,C,C,T,C,T,...,C,C,C,C,CT,CT,CT,CT,CT,0.934211

In [19]:
len(good52_snpDF)-2

42

In [20]:
bad52_snp = df52.index.values[df52.iloc[:,76] <= 0.9]
bad52_snp

array(['X117099_13373', 'X126230_13777', 'X141791_7873', 'X190236_2746',
       'X194561_9140', 'X194968_5912', 'X2156_1716', 'X218289_7454',
       'X219104_2929', 'X221258_4404'], dtype=object)

In [23]:
%expand
bad52SnpDict["{suf}"] = list(bad52_snp)

In [24]:
db39_geno = inxl39.parse('Genotypes')

In [25]:
db39_geno_filt = db39_geno.loc[pass39.index]

In [26]:
df = db39_geno_filt
coverage_row= df.iloc[:,2:].count()/len(df.iloc[:,2:])
df_coverage=pd.DataFrame(data=coverage_row).T
df_coverage=df_coverage.reindex(columns=df.columns)
df39 =df.append(df_coverage,ignore_index=True).T
df39.tail()

,0,1,2,3,4,5,6,7,8,9,...,67,68,69,70,71,72,73,74,75,76
X247020_27217,G,G,G,G,G,A,A,G,A,G,...,A,A,A,A,AG,AG,AG,AG,AG,1
X247085_6096,AG,AG,G,AG,G,G,G,G,G,G,...,G,G,G,G,G,G,G,G,G,0.973684
X6349_7011,A,A,A,A,A,NaN,NaN,A,NaN,A,...,NaN,NaN,NaN,NaN,A,A,A,A,A,0.684211
X99556_26307,C,C,C,C,C,C,C,C,C,C,...,C,C,C,C,C,C,C,C,C,1
X99669_18498,T,T,T,T,T,A,A,T,A,T,...,A,A,A,A,TA,TA,TA,TA,TA,1

In [27]:
good39_snpDF = df39.iloc[0:2,:].append(df39[df39.iloc[:,76] >= 0.9])
good39_snpDF.head()
len(good39_snpDF)-2

35

In [28]:
bad39_snp = df39.index.values[df39.iloc[:,76] <= 0.9]
bad39_snp

array(['X201239_10000', 'X205485_3157', 'X230449_27274', 'X6349_7011'],
      dtype=object)

In [29]:
%expand
bad39SnpDict["{suf}"] = list(bad39_snp)

**77 good SNPs (42 and 35)**

In [30]:
# make list of bad snps from both panels
bad91_snp = list(bad39_snp) + list(bad52_snp)
bad91_snp

['X201239_10000',
 'X205485_3157',
 'X230449_27274',
 'X6349_7011',
 'X117099_13373',
 'X126230_13777',
 'X141791_7873',
 'X190236_2746',
 'X194561_9140',
 'X194968_5912',
 'X2156_1716',
 'X218289_7454',
 'X219104_2929',
 'X221258_4404']

#### Compare replicates

In [245]:
#reps
repsB = ["DB12041r","FLM15r","LA1139r","RM11r","SL14r"]
repsB = ["FL16","CANOT11830",]
repsW = ["CANOT11619","CANOT11619B","BM12047","BM12047B",
         "LA1008","LA1008B","NH45B","NH45","DEM39","DEM39B"]

In [31]:
comb = pd.merge(db52_geno_filt, db39_geno_filt)
comb.shape

(76, 93)

In [32]:
comb = comb.drop(labels=bad91_snp,axis=1)
comb.head()

,SAMPLE_NAME,WELL,X104650_2998,X104795_7287,X107554_774,X112084_4248,X120320_1376,X121338_5301,X135849_12666,X136296_2709,...,X235476_9196,X236674_44316,X241030_2917,X242562_17320,X243446_17343,X246396_2361,X247020_27217,X247085_6096,X99556_26307,X99669_18498
0,AGF19_008,C02,NaN,GA,NaN,C,AG,A,T,G,...,AG,T,C,A,C,A,G,AG,C,T
1,AGF19_056,C04,TC,GA,C,C,G,A,T,G,...,AG,T,C,A,C,A,G,AG,C,T
2,AGF19_059,C05,TC,A,T,C,G,A,T,G,...,AG,T,C,A,C,A,G,G,C,T
3,AGF19_071,C06,TC,GA,T,C,AG,A,T,G,...,A,T,CT,A,C,A,G,AG,C,T
4,ASF20_001,A09,C,A,T,C,G,A,T,G,...,G,T,C,A,C,A,G,G,C,T

## stopper here

In [33]:
comb.iloc[0:50,]

,SAMPLE_NAME,WELL,X104650_2998,X104795_7287,X107554_774,X112084_4248,X120320_1376,X121338_5301,X135849_12666,X136296_2709,...,X235476_9196,X236674_44316,X241030_2917,X242562_17320,X243446_17343,X246396_2361,X247020_27217,X247085_6096,X99556_26307,X99669_18498
0,AGF19_008,C02,NaN,GA,NaN,C,AG,A,T,G,...,AG,T,C,A,C,A,G,AG,C,T
1,AGF19_056,C04,TC,GA,C,C,G,A,T,G,...,AG,T,C,A,C,A,G,AG,C,T
2,AGF19_059,C05,TC,A,T,C,G,A,T,G,...,AG,T,C,A,C,A,G,G,C,T
3,AGF19_071,C06,TC,GA,T,C,AG,A,T,G,...,A,T,CT,A,C,A,G,AG,C,T
4,ASF20_001,A09,C,A,T,C,G,A,T,G,...,G,T,C,A,C,A,G,G,C,T
5,ASF20_002,G01,T,A,C,C,G,G,C,T,...,G,C,T,G,T,G,A,G,C,A
6,ASF20_002,G08,T,A,C,C,G,G,C,T,...,G,C,T,G,T,G,A,G,C,A
7,ASF20_003,A10,C,NaN,T,C,G,A,T,G,...,A,T,C,A,C,A,G,G,C,T
8,ASF20_005,G02,T,A,C,C,G,G,C,T,...,G,C,T,G,T,G,A,G,C,A
9,ASF20_006,A11,C,A,T,C,G,A,T,G,...,AG,T,C,A,C,A,G,G,C,T
10,ASF20_011,B02,TC,A,CT,C,G,AG,CT,GT,...,AG,CT,CT,AG,CT,GA,AG,G,C,TA
11,ASF20_024,G03,T,A,C,C,G,G,C,T,...,G,C,T,G,T,G,A,G,C,A
12,ASF20_031,B01,C,G,T,C,AG,A,T,G,...,A,T,C,AG,C,A,G,G,C,T
13,ASF20_031,B05,C,G,T,C,AG,A,T,G,...,A,T,C,AG,C,A,AG,G,C,T
14,ASF20_046,G04,T,A,C,C,G,G,C,T,...,G,C,T,G,T,G,A,G,C,A
15,ASF20_07,A12,TC,A,T,C,G,A,T,G,...,A,T,C,A,C,A,G,G,C,T
16,CANOT11830,H07,T,G,T,C,A,G,T,G,...,G,T,C,G,C,A,G,A,T,A
17,FL16,H11,T,A,C,C,G,G,C,T,...,G,C,T,G,T,G,A,G,C,A
18,GU36,E03,TC,A,C,C,A,AG,T,G,...,G,CT,C,AG,T,GA,A,AG,CT,TA
19,GU42,E04,T,GA,CT,C,G,G,T,GT,...,G,CT,CT,AG,CT,GA,AG,G,C,TA
20,GU42,E12,T,GA,CT,C,G,G,T,GT,...,G,CT,CT,AG,CT,GA,AG,G,C,TA
21,GU45,E05,T,G,T,C,AG,AG,T,G,...,AG,T,CT,AG,CT,A,G,NaN,CT,TA
22,GU57,E10,TC,G,C,C,AG,AG,CT,GT,...,G,C,T,AG,T,A,A,G,CT,TA
23,GU58,E11,TC,GA,T,C,AG,AG,T,T,...,NaN,C,C,G,T,A,A,NaN,CT,TA
24,MATT08,H12,C,A,NaN,C,AG,A,T,G,...,A,T,C,A,C,A,G,A,C,T
25,Mill17,D12,C,GA,T,C,AG,A,T,G,...,A,T,C,A,C,A,G,G,C,T
26,Mill18,E01,C,A,T,C,G,A,T,G,...,AG,T,C,A,C,A,G,G,C,T
27,Mill22,A08,TC,GA,T,C,AG,AG,T,G,...,AG,T,C,AG,C,A,AG,G,CT,TA
28,NB07,A01,C,GA,NaN,C,G,A,T,G,...,AG,T,C,A,C,A,G,G,C,T
29,NB11,A03,C,GA,NaN,C,G,A,T,G,...,A,T,CT,A,C,A,G,G,C,T
30,NB11,A07,C,GA,T,C,G,A,T,G,...,A,T,C,A,C,A,G,G,C,T
31,NB13,A04,C,A,T,C,G,A,T,G,...,AG,T,C,A,C,A,G,G,C,T
32,NB19,A05,C,GA,T,C,G,A,T,G,...,A,T,C,A,C,A,G,G,C,T
33,NBM01,A06,C,A,T,C,G,A,T,G,...,AG,T,NaN,A,C,A,G,G,C,T
34,NCWRA20_058,C07,C,A,C,C,G,A,CT,GT,...,G,CT,C,A,C,A,AG,G,C,T
35,NCWRA20_061,C08,C,A,T,C,AG,AG,CT,T,...,AG,T,C,AG,C,A,AG,G,C,T
36,NCWRA20_062,C09,C,A,T,C,AG,AG,CT,GT,...,G,T,CT,A,CT,G,AG,AG,C,T
37,NCWRA20_069,C10,TC,A,C,C,G,A,T,GT,...,AG,T,C,G,C,GA,AG,G,C,T
38,NCWRA20_088,C12,TC,A,NaN,C,G,AG,T,G,...,AG,T,C,A,C,A,G,G,C,T
39,NCWRA20_093,D01,T,A,T,C,G,G,T,GT,...,AG,T,C,A,CT,GA,G,G,C,TA
40,NCWRA20_153,D02,C,A,CT,C,G,AG,CT,GT,...,AG,T,C,A,CT,GA,AG,G,C,TA
41,NCWRA20_163,D03,TC,GA,T,C,G,AG,C,GT,...,G,T,CT,AG,C,A,AG,G,C,TA
42,NCWRA20_170,D04,TC,A,CT,C,G,A,CT,T,...,AG,CT,C,G,C,G,A,G,C,TA
43,NCWRA20_225,D05,T,GA,C,C,G,G,C,T,...,G,CT,C,AG,T,G,A,G,C,A
44,NCWRA20_235,D06,T,G,C,C,G,G,C,T,...,G,T,T,AG,T,G,A,G,C,TA
45,NCWRA20_257,D07,C,A,CT,C,G,AG,C,T,...,G,CT,T,G,CT,G,AG,G,C,TA
46,NCWRA20_262,D08,T,A,CT,C,G,AG,CT,GT,...,G,C,C,G,T,G,AG,G,C,TA
47,NCWRA20_269,D09,T,A,CT,C,G,AG,C,T,...,AG,CT,CT,G,CT,GA,A,G,C,TA
48,NCWRA20_276,D10,T,A,CT,C,G,G,C,T,...,G,CT,T,AG,C,G,AG,G,C,A
49,NCWRA20_276,E02,T,A,CT,C,G,G,C,T,...,G,CT,T,AG,C,G,AG,G,C,A

##### Within

In [248]:
combW = comb[comb['SAMPLE_NAME'].isin(repsW)]
combW

,SAMPLE_NAME,WELL,X104650_2998,X104795_7287,X107554_774,X112084_4248,X117099_13373,X120320_1376,X121338_5301,X135849_12666,...,X236674_44316,X241030_2917,X242562_17320,X243446_17343,X246396_2361,X247020_27217,X247085_6096,X6349_7011,X99556_26307,X99669_18498
4,BM12047,C09,T,G,T,C,T,A,NaN,T,...,T,C,G,C,A,AG,A,A,T,A
5,BM12047B,A10,T,G,T,C,T,A,G,T,...,T,C,G,C,A,AG,A,A,T,A
13,CANOT11619,G05,T,G,T,C,CT,A,G,T,...,T,NaN,G,C,A,AG,A,A,T,TA
14,CANOT11619B,A06,T,G,T,C,T,A,G,T,...,T,C,G,C,A,AG,A,A,T,TA
52,DEM39,H07,T,GA,T,C,C,NaN,G,T,...,T,CT,G,C,GA,AG,G,A,T,A
53,DEM39B,A07,T,GA,T,C,C,A,G,T,...,T,CT,G,C,GA,AG,G,A,T,A
64,LA1008,B01,T,A,CT,C,T,AG,G,T,...,T,C,G,C,A,AG,AG,A,CT,A
65,LA1008B,A08,T,A,CT,C,T,AG,G,T,...,T,C,G,C,A,AG,AG,A,CT,A
82,NH45,E08,T,A,T,C,T,G,G,T,...,CT,C,G,CT,A,AG,AG,A,CT,A
83,NH45B,A09,T,A,T,C,T,G,G,T,...,CT,C,G,CT,A,AG,AG,A,CT,A

In [249]:
x = combW.iloc[0::2,].drop(labels="WELL",axis=1).set_index('SAMPLE_NAME')
x

,X104650_2998,X104795_7287,X107554_774,X112084_4248,X117099_13373,X120320_1376,X121338_5301,X135849_12666,X136296_2709,X137049_4971,...,X236674_44316,X241030_2917,X242562_17320,X243446_17343,X246396_2361,X247020_27217,X247085_6096,X6349_7011,X99556_26307,X99669_18498
SAMPLE_NAME,,,,,,,,,,,,,,,,,,,,,
BM12047,T,G,T,C,T,A,NaN,T,G,G,...,T,C,G,C,A,AG,A,A,T,A
CANOT11619,T,G,T,C,CT,A,G,T,G,G,...,T,NaN,G,C,A,AG,A,A,T,TA
DEM39,T,GA,T,C,C,NaN,G,T,GT,G,...,T,CT,G,C,GA,AG,G,A,T,A
LA1008,T,A,CT,C,T,AG,G,T,GT,GA,...,T,C,G,C,A,AG,AG,A,CT,A
NH45,T,A,T,C,T,G,G,T,G,GA,...,CT,C,G,CT,A,AG,AG,A,CT,A

In [250]:
y =combW.iloc[1::2,:].drop(labels="WELL",axis=1)
y['SAMPLE_NAME'] = [ x[:-1] for x in y['SAMPLE_NAME'] ]
y = y.set_index('SAMPLE_NAME')
y

,X104650_2998,X104795_7287,X107554_774,X112084_4248,X117099_13373,X120320_1376,X121338_5301,X135849_12666,X136296_2709,X137049_4971,...,X236674_44316,X241030_2917,X242562_17320,X243446_17343,X246396_2361,X247020_27217,X247085_6096,X6349_7011,X99556_26307,X99669_18498
SAMPLE_NAME,,,,,,,,,,,,,,,,,,,,,
BM12047,T,G,T,C,T,A,G,T,G,G,...,T,C,G,C,A,AG,A,A,T,A
CANOT11619,T,G,T,C,T,A,G,T,G,G,...,T,C,G,C,A,AG,A,A,T,TA
DEM39,T,GA,T,C,C,A,G,T,GT,G,...,T,CT,G,C,GA,AG,G,A,T,A
LA1008,T,A,CT,C,T,AG,G,T,GT,GA,...,T,C,G,C,A,AG,AG,A,CT,A
NH45,T,A,T,C,T,G,G,T,G,GA,...,CT,C,G,CT,A,AG,AG,A,CT,A

In [251]:
rep = y == x
rep
#rep.loc[:,["X107554_774","X196396_44391","X189859_7702","X241030_2917","X232694_38736"]]

,X104650_2998,X104795_7287,X107554_774,X112084_4248,X117099_13373,X120320_1376,X121338_5301,X135849_12666,X136296_2709,X137049_4971,...,X236674_44316,X241030_2917,X242562_17320,X243446_17343,X246396_2361,X247020_27217,X247085_6096,X6349_7011,X99556_26307,X99669_18498
SAMPLE_NAME,,,,,,,,,,,,,,,,,,,,,
BM12047,True,True,True,True,True,True,False,True,True,True,...,True,True,True,True,True,True,True,True,True,True
CANOT11619,True,True,True,True,False,True,True,True,True,True,...,True,False,True,True,True,True,True,True,True,True
DEM39,True,True,True,True,True,False,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
LA1008,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
NH45,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True

In [252]:
list(rep.sum(axis=0)[rep.sum(axis=0) < 5].index)

['X117099_13373',
 'X120320_1376',
 'X121338_5301',
 'X183726_3387',
 'X185414_4390',
 'X188611_1228',
 'X197051_909',
 'X224779_3298',
 'X232694_38736',
 'X126488_13871',
 'X2000_3888',
 'X228046_17494',
 'X241030_2917']

In [253]:
combW.loc[:,['SAMPLE_NAME']+list(rep.sum(axis=0)[rep.sum(axis=0) < 5].index)]

,SAMPLE_NAME,X117099_13373,X120320_1376,X121338_5301,X183726_3387,X185414_4390,X188611_1228,X197051_909,X224779_3298,X232694_38736,X126488_13871,X2000_3888,X228046_17494,X241030_2917
4,BM12047,T,A,NaN,T,NaN,G,TC,AG,NaN,T,C,AT,C
5,BM12047B,T,A,G,NaN,C,G,TC,G,NaN,NaN,NaN,AT,C
13,CANOT11619,CT,A,G,A,C,NaN,NaN,AG,GT,T,C,AT,NaN
14,CANOT11619B,T,A,G,A,C,G,T,AG,T,T,C,AT,C
52,DEM39,C,NaN,G,A,TC,AG,NaN,AG,GT,T,G,AT,CT
53,DEM39B,C,A,G,A,TC,G,T,AG,T,T,G,NaN,CT
64,LA1008,T,AG,G,A,C,G,T,AG,T,GT,CG,A,C
65,LA1008B,T,AG,G,A,C,G,T,AG,T,T,CG,A,C
82,NH45,T,G,G,A,TC,G,TC,AG,GT,GT,G,AT,C
83,NH45B,T,G,G,A,TC,G,TC,AG,GT,GT,G,AT,C

Incorrect calls within reps:

In [254]:
iW = ["X117099_13373","X188611_1228","X224779_3298","X232694_38736","X126488_13871"]

##### Between
**GBS**

In [255]:
combB = comb[comb['SAMPLE_NAME'].isin(repsB)].drop(labels="WELL",axis=1)
combB['SAMPLE_NAME'] = [ x[:-1] for x in combB['SAMPLE_NAME'] ]
combB = combB.set_index('SAMPLE_NAME')
combB

,X104650_2998,X104795_7287,X107554_774,X112084_4248,X117099_13373,X120320_1376,X121338_5301,X135849_12666,X136296_2709,X137049_4971,...,X236674_44316,X241030_2917,X242562_17320,X243446_17343,X246396_2361,X247020_27217,X247085_6096,X6349_7011,X99556_26307,X99669_18498
SAMPLE_NAME,,,,,,,,,,,,,,,,,,,,,
DB12041,T,G,T,C,T,A,G,T,G,G,...,T,C,G,C,A,AG,A,A,T,A
FLM15,T,A,C,C,CT,G,G,C,T,A,...,C,T,G,T,G,A,G,NaN,C,A
LA1139,T,A,T,C,NaN,G,G,CT,GT,GA,...,T,CT,G,C,A,AG,AG,A,CT,A
RM11,T,GA,C,C,C,A,G,CT,T,GA,...,C,CT,G,T,G,AG,A,C,CT,TA
SL14,C,A,T,C,C,G,A,T,G,G,...,T,C,A,C,A,AG,G,A,C,T

In [256]:
alleles = {'AT':'TA',
        'TC':'CT',
        'CG':'GC',
        'GT':'TG',
        'AC':'CA',
          'AG':'GA'}
combB = combB.replace(to_replace=alleles)

In [257]:
gbsrep = pd.read_csv("GBS_5reps_91.tab", sep='\t',converters={0:str},index_col = 0)
MAreps = pd.read_csv("../Panel_Design/All_GBS_Test/AllGBS_DB91_filtered_AC.tab", sep='\t',converters={0:str},index_col = 0)

In [258]:
snps = list(combB.columns)
gbsrep = gbsrep.loc[:,snps]
gbsrep

,X104650_2998,X104795_7287,X107554_774,X112084_4248,X117099_13373,X120320_1376,X121338_5301,X135849_12666,X136296_2709,X137049_4971,...,X236674_44316,X241030_2917,X242562_17320,X243446_17343,X246396_2361,X247020_27217,X247085_6096,X6349_7011,X99556_26307,X99669_18498
SAMPLE_NAME,,,,,,,,,,,,,,,,,,,,,
DB12041,T,G,T,NaN,T,A,G,T,G,G,...,T,C,NaN,C,A,NaN,A,A,T,A
FLM15,T,A,C,G,C,G,G,C,T,A,...,C,T,G,T,G,A,G,C,C,A
LA1139,T,A,T,C,CT,G,G,CT,TG,GA,...,T,CT,G,C,A,G,GA,CA,CT,A
RM11,T,GA,C,C,C,A,G,CT,T,GA,...,C,CT,G,T,G,GA,A,C,CT,TA
SL14,C,A,T,G,C,G,A,T,G,G,...,T,C,A,C,A,G,G,A,C,T

In [259]:
ne_stacked = (combB != gbsrep).stack()
changed = ne_stacked[ne_stacked]
changed.index.names = ['id', 'snp']
changed.head()

id       snp
DB12041  X112084_4248     True
         X183726_3387     True
         X208950_18711    True
         X224779_3298     True
         X232694_38736    True
dtype: bool

In [260]:
%expand ${ }
difference_locations = np.where(combB != gbsrep)
this = combB.values[difference_locations]
gbs = gbsrep.values[difference_locations]
compare = pd.DataFrame({'gbs': gbs, '${suf}': this}, index=changed.index)

In [261]:
iB= compare.groupby(['snp']).size().sort_values(ascending=False)
iB

snp
X112084_4248     3
X247020_27217    3
X224779_3298     2
X117099_13373    2
X183726_3387     2
X6349_7011       2
X228046_17494    2
X232694_38736    1
X208950_18711    1
X184380_10942    1
X195403_4772     1
X188831_25784    1
X188288_3568     1
X182187_7007     1
X145_10612       1
X242562_17320    1
X197051_909      1
dtype: int64

In [262]:
iBs = list(iB.index)

In [263]:
idx = pd.IndexSlice
compare.loc[idx[:,iBs],:]

                       gbs 041720
id      snp
DB12041 X112084_4248   NaN      C
        X183726_3387   NaN      A
        X208950_18711  NaN      A
        X224779_3298   NaN     GA
        X232694_38736  NaN      T
        X228046_17494    T     TA
        X242562_17320  NaN      G
        X247020_27217  NaN     GA
FLM15   X112084_4248     G      C
        X117099_13373    C     CT
        X188831_25784  NaN     TA
        X6349_7011       C    NaN
LA1139  X117099_13373   CT    NaN
        X188288_3568     A    NaN
        X224779_3298     G     GA
        X228046_17494   TA      A
        X247020_27217    G     GA
        X6349_7011      CA      A
RM11    X195403_4772    CA      C
        X184380_10942  NaN      A
SL14    X112084_4248     G      C
        X145_10612       C     CT
        X182187_7007   NaN      G
        X183726_3387     T     TA
        X197051_909      C     CT
        X247020_27217    G     GA

In [264]:
compna = compare.dropna()
#compna.sort_index(inplace=True)

In [265]:
compna.loc[idx[:,iBs],:]

                      gbs 041720
id      snp
DB12041 X228046_17494   T     TA
FLM15   X112084_4248    G      C
        X117099_13373   C     CT
LA1139  X224779_3298    G     GA
        X228046_17494  TA      A
        X247020_27217   G     GA
        X6349_7011     CA      A
RM11    X195403_4772   CA      C
SL14    X112084_4248    G      C
        X145_10612      C     CT
        X183726_3387    T     TA
        X197051_909     C     CT
        X247020_27217   G     GA

In [279]:
i = ["X228046_17494","X112084_4248","X247020_27217"]

**MA**

In [267]:
MAreps = MAreps.loc[gbsrep.index,snps]
MAreps

/home/ksilliman/.local/lib/python3.6/site-packages/pandas/core/indexing.py:1494: FutureWarning:
Passing list-likes to .loc or [] with any missing label will raise
KeyError in the future, you can use .reindex() as an alternative.

See the documentation here:
https://pandas.pydata.org/pandas-docs/stable/indexing.html#deprecate-loc-reindex-listlike
  return self._getitem_tuple(key)

,X104650_2998,X104795_7287,X107554_774,X112084_4248,X117099_13373,X120320_1376,X121338_5301,X135849_12666,X136296_2709,X137049_4971,...,X236674_44316,X241030_2917,X242562_17320,X243446_17343,X246396_2361,X247020_27217,X247085_6096,X6349_7011,X99556_26307,X99669_18498
SAMPLE_NAME,,,,,,,,,,,,,,,,,,,,,
DB12041,T,G,T,C,T,A,G,T,G,G,...,T,C,G,C,A,G,A,A,T,A
FLM15,T,A,C,C,CT,G,G,C,T,A,...,C,T,G,T,G,A,G,NaN,C,A
LA1139,T,A,T,C,CT,G,G,CT,TG,GA,...,T,CT,G,C,A,G,GA,A,CT,A
RM11,T,GA,C,C,C,A,G,CT,T,GA,...,C,CT,G,T,G,GA,A,NaN,CT,TA
SL14,C,A,T,C,C,G,A,T,G,G,...,T,C,A,C,A,G,G,A,C,T

In [268]:
ne_stacked = (combB != MAreps).stack()
changed = ne_stacked[ne_stacked]
changed.index.names = ['id', 'snp']

In [269]:
%expand ${ }
difference_locations = np.where(combB != MAreps)
this = combB.values[difference_locations]
ma = MAreps.values[difference_locations]
compare = pd.DataFrame({'MA': ma, '${suf}': this}, index=changed.index)

In [270]:
iB= compare.groupby(['snp']).size().sort_values(ascending=False)
iB

snp
X219104_2929     5
X247020_27217    3
X6349_7011       2
X228046_17494    1
X197051_909      1
X188288_3568     1
X183726_3387     1
X145_10612       1
X117099_13373    1
dtype: int64

In [271]:
iBs = list(iB.index)

In [272]:
idx = pd.IndexSlice
compare.loc[idx[:,iBs],:]

                        MA 041720
id      snp
DB12041 X219104_2929   NaN      G
        X247020_27217    G     GA
FLM15   X219104_2929   NaN      G
        X6349_7011     NaN    NaN
LA1139  X117099_13373   CT    NaN
        X188288_3568     A    NaN
        X219104_2929   NaN      G
        X228046_17494   TA      A
        X247020_27217    G     GA
RM11    X219104_2929   NaN      G
        X6349_7011     NaN      C
SL14    X145_10612       C     CT
        X183726_3387     T     TA
        X197051_909      C     CT
        X219104_2929   NaN      A
        X247020_27217    G     GA

In [273]:
compna = compare.dropna()
#compna.sort_index(inplace=True)

In [274]:
compna.loc[idx[:,iBs],:]

                       MA 041720
id      snp
DB12041 X247020_27217   G     GA
LA1139  X228046_17494  TA      A
        X247020_27217   G     GA
SL14    X145_10612      C     CT
        X183726_3387    T     TA
        X197051_909     C     CT
        X247020_27217   G     GA

In [280]:
i = i + ["X145_10612","X183726_3387","X197051_909"]
i

['X228046_17494',
 'X112084_4248',
 'X247020_27217',
 'X145_10612',
 'X183726_3387',
 'X197051_909']

In [281]:
i = set(i + iW)
i

{'X112084_4248',
 'X117099_13373',
 'X126488_13871',
 'X145_10612',
 'X183726_3387',
 'X188611_1228',
 'X197051_909',
 'X224779_3298',
 'X228046_17494',
 'X232694_38736',
 'X247020_27217'}

In [282]:
%expand
increps["{suf}"] = i
increps

{'041720': {'X112084_4248',
  'X117099_13373',
  'X126488_13871',
  'X145_10612',
  'X183726_3387',
  'X188611_1228',
  'X197051_909',
  'X224779_3298',
  'X228046_17494',
  'X232694_38736',
  'X247020_27217'}}

### 041720

In [73]:
suf = "041720"

#### Read in autoclustered genotype reports

In [74]:
%expand
infile1 = "{suf}/GenotypeArea_Katherine_DB_CHIP734_DB52_{suf}_CHIP734_DB52_04172020_1_AC.xls"
infile2 = "{suf}/GenotypeArea_Katherine_DB_CHIP735_DB39_{suf}_CHIP735_DB39_04172020_1_AC.xls"

In [75]:
# read in Genotypes sheet from excel file 
inxl52 = pd.ExcelFile(infile1)
inxl39 = pd.ExcelFile(infile2)

## ID and remove bad samples

In [76]:
def p2f(x):
    return float(x.strip('%'))/100

db52_sample = inxl52.parse('Sample_Summary', converters={'CallRate':p2f})
#db52_sample.loc[100:,]

In [77]:
failed52_sampleDF = db52_sample[db52_sample['CallRate'] < 0.8]
failed52_sample = set(failed52_sampleDF["SAMPLE_NAME"] + "_"+failed52_sampleDF["WELL"])
failed52_sample

{'DB60778_H02'}

In [78]:
#def stripX(x):
#    return x[1:]

db39_sample = inxl39.parse('Sample_Summary', converters={'CallRate':p2f})
#db39_sample.loc[50:100,]

In [79]:
failed39_sampleDF = db39_sample[db39_sample['CallRate'] < 0.8]
failed39_sample = set(failed39_sampleDF["SAMPLE_NAME"] + "_"+failed39_sampleDF["WELL"])
failed39_sample

set()

In [80]:
#Intersection
failed39_sample.intersection(failed52_sample)

set()

In [81]:
# Union
union_bad_samp = set(failed52_sampleDF['SAMPLE_NAME']).union(set(failed39_sampleDF['SAMPLE_NAME']))
union_bad_samp

{'DB60778'}

In [82]:
pass52 = db52_sample[~db52_sample['SAMPLE_NAME'].isin(union_bad_samp)]
pass39 = db39_sample[~db39_sample['SAMPLE_NAME'].isin(union_bad_samp)]

In [84]:
goodSamps = goodSamps + list(pass52['SAMPLE_NAME'])

In [311]:
%expand
badSampleDict["{suf}"] = list(union_bad_samp)
badSampleDict

{'041720': ['DB60778'],
 '042420': ['HA5',
  'NC20317',
  'NC20372',
  'NC20385',
  'SL14B',
  'NC20377',
  'MF4',
  'NC20096B',
  'NC20301',
  'NC20339',
  'NC20297',
  'MF3',
  'HA3']}

## ID bad SNPs

In [312]:
db52_geno = inxl52.parse('Genotypes')

In [313]:
db52_geno_filt = db52_geno.loc[pass52.index]

In [314]:
df = db52_geno_filt
coverage_row= df.iloc[:,2:].count()/len(df.iloc[:,2:])
df_coverage=pd.DataFrame(data=coverage_row).T
df_coverage=df_coverage.reindex(columns=df.columns)
df52 =df.append(df_coverage,ignore_index=True).T
df52.tail()

,0,1,2,3,4,5,6,7,8,9,...,86,87,88,89,90,91,92,93,94,95
X247730_24337,CT,C,C,C,C,C,C,C,C,C,...,CT,C,CT,CT,CT,C,C,CT,C,1
X248436_64413,T,T,T,T,T,T,T,T,T,T,...,T,T,T,T,T,T,T,TC,T,0.989474
X2819_3199,G,G,G,G,G,G,G,G,G,G,...,G,G,G,AG,G,G,G,G,G,1
X8113_1011,T,T,T,T,T,T,T,T,T,T,...,T,T,T,T,A,T,T,TA,T,1
X99650_7157,GA,GA,NaN,GA,A,A,GA,GA,A,A,...,A,GA,GA,A,A,GA,GA,A,G,0.978947

In [315]:
good52_snpDF = df52.iloc[0:2,:].append(df52[df52.iloc[:,95] >= 0.9])
good52_snpDF.head()

,0,1,2,3,4,5,6,7,8,9,...,86,87,88,89,90,91,92,93,94,95
SAMPLE_NAME,BM11826,BM11827,BM12044,BM12045,BM12047,BM12047B,BM12048,BM12049,BM12050,BM2594,...,NH48,NH49,NH5,NH50,NH6,NH8,NH9,RM11r,SL14r,NaN
WELL,G10,H09,G09,F09,C09,A10,B09,H08,C12,H11,...,E09,A11,D11,B10,E11,F11,G11,H12,F12,NaN
X104650_2998,NaN,T,T,NaN,T,T,T,NaN,T,T,...,T,TC,T,TC,TC,TC,TC,T,C,0.968421
X104795_7287,G,G,G,G,G,G,G,G,G,G,...,A,G,G,GA,GA,GA,A,GA,A,1
X107554_774,T,T,T,T,T,T,T,CT,T,T,...,CT,T,T,CT,T,CT,T,C,T,0.947368

In [316]:
len(good52_snpDF)-2

44

In [317]:
bad52_snp = df52.index.values[df52.iloc[:,95] <= 0.9]
bad52_snp

array(['X126230_13777', 'X141791_7873', 'X190236_2746', 'X194561_9140',
       'X194968_5912', 'X2156_1716', 'X218289_7454', 'X221258_4404'],
      dtype=object)

In [318]:
%expand
bad52SnpDict["{suf}"] = list(bad52_snp)

In [319]:
db39_geno = inxl39.parse('Genotypes')

In [320]:
db39_geno_filt = db39_geno.loc[pass39.index]

In [321]:
df = db39_geno_filt
coverage_row= df.iloc[:,2:].count()/len(df.iloc[:,2:])
df_coverage=pd.DataFrame(data=coverage_row).T
df_coverage=df_coverage.reindex(columns=df.columns)
df39 =df.append(df_coverage,ignore_index=True).T
df39.tail()

,0,1,2,3,4,5,6,7,8,9,...,86,87,88,89,90,91,92,93,94,95
X247020_27217,AG,AG,AG,AG,AG,AG,AG,AG,AG,AG,...,AG,AG,AG,AG,AG,AG,AG,AG,AG,1
X247085_6096,A,A,A,A,A,A,A,A,A,A,...,AG,A,AG,A,AG,A,A,A,G,1
X6349_7011,A,A,A,A,A,A,A,A,A,A,...,A,A,A,A,A,A,A,C,A,0.978947
X99556_26307,T,T,T,T,T,T,T,T,T,T,...,T,CT,CT,T,CT,CT,T,CT,C,1
X99669_18498,TA,A,A,A,A,A,TA,A,A,A,...,TA,A,T,A,TA,A,TA,TA,T,1

In [322]:
good39_snpDF = df39.iloc[0:2,:].append(df39[df39.iloc[:,95] >= 0.9])
good39_snpDF.head()
len(good39_snpDF)-2

36

In [323]:
bad39_snp = df39.index.values[df39.iloc[:,95] <= 0.9]
bad39_snp

array(['X201239_10000', 'X205485_3157', 'X230449_27274'], dtype=object)

In [324]:
%expand
bad39SnpDict["{suf}"] = list(bad39_snp)

**80 good SNPs (44 and 36)**

In [244]:
# make list of bad snps from both panels
bad91_snp = list(bad39_snp) + list(bad52_snp)
bad91_snp

['X201239_10000',
 'X205485_3157',
 'X230449_27274',
 'X126230_13777',
 'X141791_7873',
 'X190236_2746',
 'X194561_9140',
 'X194968_5912',
 'X2156_1716',
 'X218289_7454',
 'X221258_4404']

#### Compare replicates

In [245]:
#reps
repsB = ["DB12041r","FLM15r","LA1139r","RM11r","SL14r"]
repsW = ["CANOT11619","CANOT11619B","BM12047","BM12047B",
         "LA1008","LA1008B","NH45B","NH45","DEM39","DEM39B"]

In [246]:
comb = pd.merge(db52_geno_filt, db39_geno_filt)
comb.shape

(95, 93)

In [247]:
comb = comb.drop(labels=bad91_snp,axis=1)
comb.head()

,SAMPLE_NAME,WELL,X104650_2998,X104795_7287,X107554_774,X112084_4248,X117099_13373,X120320_1376,X121338_5301,X135849_12666,...,X236674_44316,X241030_2917,X242562_17320,X243446_17343,X246396_2361,X247020_27217,X247085_6096,X6349_7011,X99556_26307,X99669_18498
0,BM11826,G10,NaN,G,T,C,CT,AG,AG,T,...,T,C,G,C,A,AG,A,A,T,TA
1,BM11827,H09,T,G,T,C,T,AG,G,T,...,T,C,G,C,A,AG,A,A,T,A
2,BM12044,G09,T,G,T,C,CT,AG,AG,T,...,T,C,G,C,A,AG,A,A,T,A
3,BM12045,F09,NaN,G,T,C,CT,AG,AG,T,...,T,C,G,C,A,AG,A,A,T,A
4,BM12047,C09,T,G,T,C,T,A,NaN,T,...,T,C,G,C,A,AG,A,A,T,A

##### Within

In [248]:
combW = comb[comb['SAMPLE_NAME'].isin(repsW)]
combW

,SAMPLE_NAME,WELL,X104650_2998,X104795_7287,X107554_774,X112084_4248,X117099_13373,X120320_1376,X121338_5301,X135849_12666,...,X236674_44316,X241030_2917,X242562_17320,X243446_17343,X246396_2361,X247020_27217,X247085_6096,X6349_7011,X99556_26307,X99669_18498
4,BM12047,C09,T,G,T,C,T,A,NaN,T,...,T,C,G,C,A,AG,A,A,T,A
5,BM12047B,A10,T,G,T,C,T,A,G,T,...,T,C,G,C,A,AG,A,A,T,A
13,CANOT11619,G05,T,G,T,C,CT,A,G,T,...,T,NaN,G,C,A,AG,A,A,T,TA
14,CANOT11619B,A06,T,G,T,C,T,A,G,T,...,T,C,G,C,A,AG,A,A,T,TA
52,DEM39,H07,T,GA,T,C,C,NaN,G,T,...,T,CT,G,C,GA,AG,G,A,T,A
53,DEM39B,A07,T,GA,T,C,C,A,G,T,...,T,CT,G,C,GA,AG,G,A,T,A
64,LA1008,B01,T,A,CT,C,T,AG,G,T,...,T,C,G,C,A,AG,AG,A,CT,A
65,LA1008B,A08,T,A,CT,C,T,AG,G,T,...,T,C,G,C,A,AG,AG,A,CT,A
82,NH45,E08,T,A,T,C,T,G,G,T,...,CT,C,G,CT,A,AG,AG,A,CT,A
83,NH45B,A09,T,A,T,C,T,G,G,T,...,CT,C,G,CT,A,AG,AG,A,CT,A

In [249]:
x = combW.iloc[0::2,].drop(labels="WELL",axis=1).set_index('SAMPLE_NAME')
x

,X104650_2998,X104795_7287,X107554_774,X112084_4248,X117099_13373,X120320_1376,X121338_5301,X135849_12666,X136296_2709,X137049_4971,...,X236674_44316,X241030_2917,X242562_17320,X243446_17343,X246396_2361,X247020_27217,X247085_6096,X6349_7011,X99556_26307,X99669_18498
SAMPLE_NAME,,,,,,,,,,,,,,,,,,,,,
BM12047,T,G,T,C,T,A,NaN,T,G,G,...,T,C,G,C,A,AG,A,A,T,A
CANOT11619,T,G,T,C,CT,A,G,T,G,G,...,T,NaN,G,C,A,AG,A,A,T,TA
DEM39,T,GA,T,C,C,NaN,G,T,GT,G,...,T,CT,G,C,GA,AG,G,A,T,A
LA1008,T,A,CT,C,T,AG,G,T,GT,GA,...,T,C,G,C,A,AG,AG,A,CT,A
NH45,T,A,T,C,T,G,G,T,G,GA,...,CT,C,G,CT,A,AG,AG,A,CT,A

In [250]:
y =combW.iloc[1::2,:].drop(labels="WELL",axis=1)
y['SAMPLE_NAME'] = [ x[:-1] for x in y['SAMPLE_NAME'] ]
y = y.set_index('SAMPLE_NAME')
y

,X104650_2998,X104795_7287,X107554_774,X112084_4248,X117099_13373,X120320_1376,X121338_5301,X135849_12666,X136296_2709,X137049_4971,...,X236674_44316,X241030_2917,X242562_17320,X243446_17343,X246396_2361,X247020_27217,X247085_6096,X6349_7011,X99556_26307,X99669_18498
SAMPLE_NAME,,,,,,,,,,,,,,,,,,,,,
BM12047,T,G,T,C,T,A,G,T,G,G,...,T,C,G,C,A,AG,A,A,T,A
CANOT11619,T,G,T,C,T,A,G,T,G,G,...,T,C,G,C,A,AG,A,A,T,TA
DEM39,T,GA,T,C,C,A,G,T,GT,G,...,T,CT,G,C,GA,AG,G,A,T,A
LA1008,T,A,CT,C,T,AG,G,T,GT,GA,...,T,C,G,C,A,AG,AG,A,CT,A
NH45,T,A,T,C,T,G,G,T,G,GA,...,CT,C,G,CT,A,AG,AG,A,CT,A

In [251]:
rep = y == x
rep
#rep.loc[:,["X107554_774","X196396_44391","X189859_7702","X241030_2917","X232694_38736"]]

,X104650_2998,X104795_7287,X107554_774,X112084_4248,X117099_13373,X120320_1376,X121338_5301,X135849_12666,X136296_2709,X137049_4971,...,X236674_44316,X241030_2917,X242562_17320,X243446_17343,X246396_2361,X247020_27217,X247085_6096,X6349_7011,X99556_26307,X99669_18498
SAMPLE_NAME,,,,,,,,,,,,,,,,,,,,,
BM12047,True,True,True,True,True,True,False,True,True,True,...,True,True,True,True,True,True,True,True,True,True
CANOT11619,True,True,True,True,False,True,True,True,True,True,...,True,False,True,True,True,True,True,True,True,True
DEM39,True,True,True,True,True,False,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
LA1008,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
NH45,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True

In [252]:
list(rep.sum(axis=0)[rep.sum(axis=0) < 5].index)

['X117099_13373',
 'X120320_1376',
 'X121338_5301',
 'X183726_3387',
 'X185414_4390',
 'X188611_1228',
 'X197051_909',
 'X224779_3298',
 'X232694_38736',
 'X126488_13871',
 'X2000_3888',
 'X228046_17494',
 'X241030_2917']

In [253]:
combW.loc[:,['SAMPLE_NAME']+list(rep.sum(axis=0)[rep.sum(axis=0) < 5].index)]

,SAMPLE_NAME,X117099_13373,X120320_1376,X121338_5301,X183726_3387,X185414_4390,X188611_1228,X197051_909,X224779_3298,X232694_38736,X126488_13871,X2000_3888,X228046_17494,X241030_2917
4,BM12047,T,A,NaN,T,NaN,G,TC,AG,NaN,T,C,AT,C
5,BM12047B,T,A,G,NaN,C,G,TC,G,NaN,NaN,NaN,AT,C
13,CANOT11619,CT,A,G,A,C,NaN,NaN,AG,GT,T,C,AT,NaN
14,CANOT11619B,T,A,G,A,C,G,T,AG,T,T,C,AT,C
52,DEM39,C,NaN,G,A,TC,AG,NaN,AG,GT,T,G,AT,CT
53,DEM39B,C,A,G,A,TC,G,T,AG,T,T,G,NaN,CT
64,LA1008,T,AG,G,A,C,G,T,AG,T,GT,CG,A,C
65,LA1008B,T,AG,G,A,C,G,T,AG,T,T,CG,A,C
82,NH45,T,G,G,A,TC,G,TC,AG,GT,GT,G,AT,C
83,NH45B,T,G,G,A,TC,G,TC,AG,GT,GT,G,AT,C

Incorrect calls within reps:

In [254]:
iW = ["X117099_13373","X188611_1228","X224779_3298","X232694_38736","X126488_13871"]

##### Between
**GBS**

In [255]:
combB = comb[comb['SAMPLE_NAME'].isin(repsB)].drop(labels="WELL",axis=1)
combB['SAMPLE_NAME'] = [ x[:-1] for x in combB['SAMPLE_NAME'] ]
combB = combB.set_index('SAMPLE_NAME')
combB

,X104650_2998,X104795_7287,X107554_774,X112084_4248,X117099_13373,X120320_1376,X121338_5301,X135849_12666,X136296_2709,X137049_4971,...,X236674_44316,X241030_2917,X242562_17320,X243446_17343,X246396_2361,X247020_27217,X247085_6096,X6349_7011,X99556_26307,X99669_18498
SAMPLE_NAME,,,,,,,,,,,,,,,,,,,,,
DB12041,T,G,T,C,T,A,G,T,G,G,...,T,C,G,C,A,AG,A,A,T,A
FLM15,T,A,C,C,CT,G,G,C,T,A,...,C,T,G,T,G,A,G,NaN,C,A
LA1139,T,A,T,C,NaN,G,G,CT,GT,GA,...,T,CT,G,C,A,AG,AG,A,CT,A
RM11,T,GA,C,C,C,A,G,CT,T,GA,...,C,CT,G,T,G,AG,A,C,CT,TA
SL14,C,A,T,C,C,G,A,T,G,G,...,T,C,A,C,A,AG,G,A,C,T

In [256]:
alleles = {'AT':'TA',
        'TC':'CT',
        'CG':'GC',
        'GT':'TG',
        'AC':'CA',
          'AG':'GA'}
combB = combB.replace(to_replace=alleles)

In [257]:
gbsrep = pd.read_csv("GBS_5reps_91.tab", sep='\t',converters={0:str},index_col = 0)
MAreps = pd.read_csv("../Panel_Design/All_GBS_Test/AllGBS_DB91_filtered_AC.tab", sep='\t',converters={0:str},index_col = 0)

In [258]:
snps = list(combB.columns)
gbsrep = gbsrep.loc[:,snps]
gbsrep

,X104650_2998,X104795_7287,X107554_774,X112084_4248,X117099_13373,X120320_1376,X121338_5301,X135849_12666,X136296_2709,X137049_4971,...,X236674_44316,X241030_2917,X242562_17320,X243446_17343,X246396_2361,X247020_27217,X247085_6096,X6349_7011,X99556_26307,X99669_18498
SAMPLE_NAME,,,,,,,,,,,,,,,,,,,,,
DB12041,T,G,T,NaN,T,A,G,T,G,G,...,T,C,NaN,C,A,NaN,A,A,T,A
FLM15,T,A,C,G,C,G,G,C,T,A,...,C,T,G,T,G,A,G,C,C,A
LA1139,T,A,T,C,CT,G,G,CT,TG,GA,...,T,CT,G,C,A,G,GA,CA,CT,A
RM11,T,GA,C,C,C,A,G,CT,T,GA,...,C,CT,G,T,G,GA,A,C,CT,TA
SL14,C,A,T,G,C,G,A,T,G,G,...,T,C,A,C,A,G,G,A,C,T

In [259]:
ne_stacked = (combB != gbsrep).stack()
changed = ne_stacked[ne_stacked]
changed.index.names = ['id', 'snp']
changed.head()

id       snp
DB12041  X112084_4248     True
         X183726_3387     True
         X208950_18711    True
         X224779_3298     True
         X232694_38736    True
dtype: bool

In [260]:
%expand ${ }
difference_locations = np.where(combB != gbsrep)
this = combB.values[difference_locations]
gbs = gbsrep.values[difference_locations]
compare = pd.DataFrame({'gbs': gbs, '${suf}': this}, index=changed.index)

In [261]:
iB= compare.groupby(['snp']).size().sort_values(ascending=False)
iB

snp
X112084_4248     3
X247020_27217    3
X224779_3298     2
X117099_13373    2
X183726_3387     2
X6349_7011       2
X228046_17494    2
X232694_38736    1
X208950_18711    1
X184380_10942    1
X195403_4772     1
X188831_25784    1
X188288_3568     1
X182187_7007     1
X145_10612       1
X242562_17320    1
X197051_909      1
dtype: int64

In [262]:
iBs = list(iB.index)

In [263]:
idx = pd.IndexSlice
compare.loc[idx[:,iBs],:]

                       gbs 041720
id      snp
DB12041 X112084_4248   NaN      C
        X183726_3387   NaN      A
        X208950_18711  NaN      A
        X224779_3298   NaN     GA
        X232694_38736  NaN      T
        X228046_17494    T     TA
        X242562_17320  NaN      G
        X247020_27217  NaN     GA
FLM15   X112084_4248     G      C
        X117099_13373    C     CT
        X188831_25784  NaN     TA
        X6349_7011       C    NaN
LA1139  X117099_13373   CT    NaN
        X188288_3568     A    NaN
        X224779_3298     G     GA
        X228046_17494   TA      A
        X247020_27217    G     GA
        X6349_7011      CA      A
RM11    X195403_4772    CA      C
        X184380_10942  NaN      A
SL14    X112084_4248     G      C
        X145_10612       C     CT
        X182187_7007   NaN      G
        X183726_3387     T     TA
        X197051_909      C     CT
        X247020_27217    G     GA

In [264]:
compna = compare.dropna()
#compna.sort_index(inplace=True)

In [265]:
compna.loc[idx[:,iBs],:]

                      gbs 041720
id      snp
DB12041 X228046_17494   T     TA
FLM15   X112084_4248    G      C
        X117099_13373   C     CT
LA1139  X224779_3298    G     GA
        X228046_17494  TA      A
        X247020_27217   G     GA
        X6349_7011     CA      A
RM11    X195403_4772   CA      C
SL14    X112084_4248    G      C
        X145_10612      C     CT
        X183726_3387    T     TA
        X197051_909     C     CT
        X247020_27217   G     GA

In [279]:
i = ["X228046_17494","X112084_4248","X247020_27217"]

**MA**

In [267]:
MAreps = MAreps.loc[gbsrep.index,snps]
MAreps

/home/ksilliman/.local/lib/python3.6/site-packages/pandas/core/indexing.py:1494: FutureWarning:
Passing list-likes to .loc or [] with any missing label will raise
KeyError in the future, you can use .reindex() as an alternative.

See the documentation here:
https://pandas.pydata.org/pandas-docs/stable/indexing.html#deprecate-loc-reindex-listlike
  return self._getitem_tuple(key)

,X104650_2998,X104795_7287,X107554_774,X112084_4248,X117099_13373,X120320_1376,X121338_5301,X135849_12666,X136296_2709,X137049_4971,...,X236674_44316,X241030_2917,X242562_17320,X243446_17343,X246396_2361,X247020_27217,X247085_6096,X6349_7011,X99556_26307,X99669_18498
SAMPLE_NAME,,,,,,,,,,,,,,,,,,,,,
DB12041,T,G,T,C,T,A,G,T,G,G,...,T,C,G,C,A,G,A,A,T,A
FLM15,T,A,C,C,CT,G,G,C,T,A,...,C,T,G,T,G,A,G,NaN,C,A
LA1139,T,A,T,C,CT,G,G,CT,TG,GA,...,T,CT,G,C,A,G,GA,A,CT,A
RM11,T,GA,C,C,C,A,G,CT,T,GA,...,C,CT,G,T,G,GA,A,NaN,CT,TA
SL14,C,A,T,C,C,G,A,T,G,G,...,T,C,A,C,A,G,G,A,C,T

In [268]:
ne_stacked = (combB != MAreps).stack()
changed = ne_stacked[ne_stacked]
changed.index.names = ['id', 'snp']

In [269]:
%expand ${ }
difference_locations = np.where(combB != MAreps)
this = combB.values[difference_locations]
ma = MAreps.values[difference_locations]
compare = pd.DataFrame({'MA': ma, '${suf}': this}, index=changed.index)

In [270]:
iB= compare.groupby(['snp']).size().sort_values(ascending=False)
iB

snp
X219104_2929     5
X247020_27217    3
X6349_7011       2
X228046_17494    1
X197051_909      1
X188288_3568     1
X183726_3387     1
X145_10612       1
X117099_13373    1
dtype: int64

In [271]:
iBs = list(iB.index)

In [272]:
idx = pd.IndexSlice
compare.loc[idx[:,iBs],:]

                        MA 041720
id      snp
DB12041 X219104_2929   NaN      G
        X247020_27217    G     GA
FLM15   X219104_2929   NaN      G
        X6349_7011     NaN    NaN
LA1139  X117099_13373   CT    NaN
        X188288_3568     A    NaN
        X219104_2929   NaN      G
        X228046_17494   TA      A
        X247020_27217    G     GA
RM11    X219104_2929   NaN      G
        X6349_7011     NaN      C
SL14    X145_10612       C     CT
        X183726_3387     T     TA
        X197051_909      C     CT
        X219104_2929   NaN      A
        X247020_27217    G     GA

In [273]:
compna = compare.dropna()
#compna.sort_index(inplace=True)

In [274]:
compna.loc[idx[:,iBs],:]

                       MA 041720
id      snp
DB12041 X247020_27217   G     GA
LA1139  X228046_17494  TA      A
        X247020_27217   G     GA
SL14    X145_10612      C     CT
        X183726_3387    T     TA
        X197051_909     C     CT
        X247020_27217   G     GA

In [280]:
i = i + ["X145_10612","X183726_3387","X197051_909"]
i

['X228046_17494',
 'X112084_4248',
 'X247020_27217',
 'X145_10612',
 'X183726_3387',
 'X197051_909']

In [281]:
i = set(i + iW)
i

{'X112084_4248',
 'X117099_13373',
 'X126488_13871',
 'X145_10612',
 'X183726_3387',
 'X188611_1228',
 'X197051_909',
 'X224779_3298',
 'X228046_17494',
 'X232694_38736',
 'X247020_27217'}

In [282]:
%expand
increps["{suf}"] = i
increps

{'041720': {'X112084_4248',
  'X117099_13373',
  'X126488_13871',
  'X145_10612',
  'X183726_3387',
  'X188611_1228',
  'X197051_909',
  'X224779_3298',
  'X228046_17494',
  'X232694_38736',
  'X247020_27217'}}

### 042420

In [85]:
suf = "042420"

#### Read in autoclustered genotype reports

In [86]:
%expand
infile1 = "{suf}/GenotypeArea_Katherine_DB_CHIP744_DB52_{suf}20_CHIP744_DB52_{suf}20_1_AC.xls"
infile2 = "{suf}/GenotypeArea_Katherine_DB_CHIP745_DB39_{suf}20_CHIP745_DB39_{suf}20_1_AC.xls"

In [87]:
# read in Genotypes sheet from excel file 
inxl52 = pd.ExcelFile(infile1)
inxl39 = pd.ExcelFile(infile2)

## ID and remove bad samples

In [88]:
def p2f(x):
    return float(x.strip('%'))/100

db52_sample = inxl52.parse('Sample_Summary', converters={'CallRate':p2f})
#db52_sample.loc[100:,]

In [89]:
failed52_sampleDF = db52_sample[db52_sample['CallRate'] < 0.8]
failed52_sample = set(failed52_sampleDF["SAMPLE_NAME"] + "_"+failed52_sampleDF["WELL"])
failed52_sample

{'HA3_E08',
 'HA5_F07',
 'MF3_H07',
 'MF4_H09',
 'NC20096B_B12',
 'NC20297_F04',
 'NC20301_B05',
 'NC20317_A10',
 'NC20339_F10',
 'NC20372_A12',
 'NC20377_H11',
 'NC20385_A11',
 'SL14B_E12'}

In [90]:
#def stripX(x):
#    return x[1:]

db39_sample = inxl39.parse('Sample_Summary', converters={'CallRate':p2f})
#db39_sample.loc[50:100,]

In [91]:
failed39_sampleDF = db39_sample[db39_sample['CallRate'] < 0.8]
failed39_sample = set(failed39_sampleDF["SAMPLE_NAME"] + "_"+failed39_sampleDF["WELL"])
failed39_sample

{'HA5_F07'}

In [92]:
#Intersection
failed39_sample.intersection(failed52_sample)

{'HA5_F07'}

In [93]:
# Union
union_bad_samp = set(failed52_sampleDF['SAMPLE_NAME']).union(set(failed39_sampleDF['SAMPLE_NAME']))
union_bad_samp

{'HA3',
 'HA5',
 'MF3',
 'MF4',
 'NC20096B',
 'NC20297',
 'NC20301',
 'NC20317',
 'NC20339',
 'NC20372',
 'NC20377',
 'NC20385',
 'SL14B'}

In [94]:
%expand
badSampleDict["{suf}"] = list(union_bad_samp)
badSampleDict

{'042420': ['NC20297',
  'NC20317',
  'NC20385',
  'MF3',
  'HA3',
  'NC20339',
  'NC20096B',
  'NC20301',
  'NC20377',
  'HA5',
  'NC20372',
  'SL14B',
  'MF4'],
 '043020': ['LA1139B', 'WH72', 'RM11B', 'BM2597', 'LSRC15', 'SL14B'],
 '050720': ['SR5', 'WP32'],
 '051420': ['HRTN18261',
  'HRTN18256',
  'OUAR1890',
  'HRTN18257',
  'HRTN18257B',
  'HRTN18259',
  'SL14B']}

In [95]:
union_bad_samp.remove('SL14B')
union_bad_samp.remove('NC20096B')

In [96]:
pass52 = db52_sample[~db52_sample['SAMPLE_NAME'].isin(union_bad_samp)]
pass39 = db39_sample[~db39_sample['SAMPLE_NAME'].isin(union_bad_samp)]

In [97]:
goodSamps = goodSamps + list(pass52['SAMPLE_NAME'])

## ID bad SNPs

In [463]:
db52_geno = inxl52.parse('Genotypes')

In [464]:
db52_geno_filt = db52_geno.loc[pass52.index]

In [465]:
df = db52_geno_filt
coverage_row= df.iloc[:,2:].count()/len(df.iloc[:,2:])
df_coverage=pd.DataFrame(data=coverage_row).T
df_coverage=df_coverage.reindex(columns=df.columns)
df52 =df.append(df_coverage,ignore_index=True).T
df52.tail()

,0,1,2,3,4,5,6,7,8,9,...,76,77,78,79,80,81,82,83,84,85
X247730_24337,C,T,CT,CT,CT,CT,C,C,C,T,...,T,CT,CT,T,T,CT,T,CT,C,1
X248436_64413,T,C,T,T,T,TC,T,TC,TC,T,...,T,T,T,TC,T,T,T,TC,T,0.988235
X2819_3199,G,A,G,AG,A,G,G,NaN,AG,AG,...,A,NaN,A,AG,AG,A,A,G,G,0.976471
X8113_1011,T,A,T,T,T,TA,T,T,T,T,...,T,T,A,NaN,A,T,T,TA,T,0.988235
X99650_7157,A,A,A,A,GA,A,A,GA,A,A,...,A,GA,A,GA,A,A,A,A,NaN,0.988235

In [467]:
good52_snpDF = df52.iloc[0:2,:].append(df52[df52.iloc[:,85] >= 0.9])
good52_snpDF.head()

,0,1,2,3,4,5,6,7,8,9,...,76,77,78,79,80,81,82,83,84,85
SAMPLE_NAME,DB12041B,FLM15B,HA1,HA2,HA36,HA37,HA38,HA39,HA4,HA40,...,NC20355,NC20363,NC20365,NC20370,NC20388,NC20391,NC20399,RM11B,SL14B,NaN
WELL,D12,F12,A06,B06,A07,E06,B08,C07,F09,E09,...,C11,H10,D11,E11,F11,B11,G11,G12,E12,NaN
X104650_2998,TC,T,TC,T,T,T,T,T,T,TC,...,TC,T,T,T,TC,T,T,T,NaN,0.952941
X104795_7287,G,GA,GA,G,GA,GA,GA,GA,GA,GA,...,GA,GA,GA,GA,GA,GA,GA,GA,GA,1
X107554_774,T,C,CT,T,C,T,CT,C,C,CT,...,C,C,C,C,C,CT,C,NaN,NaN,0.917647

In [468]:
len(good52_snpDF)-2

42

In [469]:
bad52_snp = df52.index.values[df52.iloc[:,85] <= 0.9]
bad52_snp

array(['X117099_13373', 'X126230_13777', 'X141791_7873', 'X183726_3387',
       'X190236_2746', 'X194561_9140', 'X194968_5912', 'X2156_1716',
       'X218289_7454', 'X221258_4404'], dtype=object)

In [470]:
%expand
bad52SnpDict["{suf}"] = list(bad52_snp)

In [471]:
db39_geno = inxl39.parse('Genotypes')

In [472]:
db39_geno_filt = db39_geno.loc[pass39.index]

In [473]:
df = db39_geno_filt
coverage_row= df.iloc[:,2:].count()/len(df.iloc[:,2:])
df_coverage=pd.DataFrame(data=coverage_row).T
df_coverage=df_coverage.reindex(columns=df.columns)
df39 =df.append(df_coverage,ignore_index=True).T
df39.tail()

,0,1,2,3,4,5,6,7,8,9,...,76,77,78,79,80,81,82,83,84,85
X247020_27217,G,A,AG,AG,G,AG,G,AG,G,AG,...,G,AG,AG,AG,A,AG,A,AG,G,1
X247085_6096,A,G,AG,AG,AG,AG,A,AG,AG,G,...,G,G,G,G,G,G,G,A,G,0.988235
X6349_7011,A,NaN,A,A,A,A,A,A,A,A,...,C,C,NaN,A,C,A,NaN,C,A,0.752941
X99556_26307,T,C,C,C,C,CT,C,C,C,C,...,C,C,C,C,C,C,C,CT,C,1
X99669_18498,A,A,TA,TA,A,A,TA,TA,TA,TA,...,TA,TA,TA,A,A,TA,TA,TA,T,1

In [474]:
good39_snpDF = df39.iloc[0:2,:].append(df39[df39.iloc[:,85] >= 0.9])
good39_snpDF.head()
len(good39_snpDF)-2

35

In [476]:
bad39_snp = df39.index.values[df39.iloc[:,85] <= 0.9]
bad39_snp

array(['X201239_10000', 'X205485_3157', 'X230449_27274', 'X6349_7011'],
      dtype=object)

In [477]:
%expand
bad39SnpDict["{suf}"] = list(bad39_snp)

**77 good SNPs (42 and 35)**

In [478]:
# make list of bad snps from both panels
bad91_snp = list(bad39_snp) + list(bad52_snp)
bad91_snp

['X201239_10000',
 'X205485_3157',
 'X230449_27274',
 'X6349_7011',
 'X117099_13373',
 'X126230_13777',
 'X141791_7873',
 'X183726_3387',
 'X190236_2746',
 'X194561_9140',
 'X194968_5912',
 'X2156_1716',
 'X218289_7454',
 'X221258_4404']

#### Compare replicates

In [480]:
#reps
repsB = ["DB12041B","FLM15B","LA1139B","RM11B","SL14B"]
repsW = ["HA43","HA43B","NC20096","NC20096B"]

In [481]:
comb = pd.merge(db52_geno_filt, db39_geno_filt)
comb.shape

(85, 93)

In [482]:
comb = comb.drop(labels=bad91_snp,axis=1)
comb.head()

,SAMPLE_NAME,WELL,X104650_2998,X104795_7287,X107554_774,X112084_4248,X120320_1376,X121338_5301,X135849_12666,X136296_2709,...,X235476_9196,X236674_44316,X241030_2917,X242562_17320,X243446_17343,X246396_2361,X247020_27217,X247085_6096,X99556_26307,X99669_18498
0,DB12041B,D12,TC,G,T,C,A,G,T,G,...,G,T,C,G,C,A,G,A,T,A
1,FLM15B,F12,T,GA,C,C,G,G,C,T,...,G,C,NaN,G,T,G,A,G,C,A
2,HA1,A06,TC,GA,CT,C,AG,G,T,T,...,AG,CT,C,G,CT,A,AG,AG,C,TA
3,HA2,B06,T,G,T,C,A,G,CT,GT,...,AG,T,CT,AG,CT,A,AG,AG,C,TA
4,HA36,A07,T,GA,C,C,G,AG,CT,GT,...,AG,CT,C,G,T,A,G,AG,C,A

##### Within

In [483]:
combW = comb[comb['SAMPLE_NAME'].isin(repsW)]
combW

,SAMPLE_NAME,WELL,X104650_2998,X104795_7287,X107554_774,X112084_4248,X120320_1376,X121338_5301,X135849_12666,X136296_2709,...,X235476_9196,X236674_44316,X241030_2917,X242562_17320,X243446_17343,X246396_2361,X247020_27217,X247085_6096,X99556_26307,X99669_18498
11,HA43,B07,T,GA,CT,C,G,AG,CT,GT,...,G,CT,C,AG,C,A,G,A,CT,TA
12,HA43B,C12,T,GA,CT,C,G,AG,CT,GT,...,G,CT,C,AG,C,A,G,A,CT,TA
40,NC20096,B01,C,G,NaN,C,G,G,T,T,...,G,CT,C,A,C,A,G,G,C,T
41,NC20096B,B12,NaN,G,NaN,C,G,G,NaN,T,...,G,CT,NaN,A,C,A,G,G,C,T

In [484]:
x = combW.iloc[0::2,].drop(labels="WELL",axis=1).set_index('SAMPLE_NAME')
x

,X104650_2998,X104795_7287,X107554_774,X112084_4248,X120320_1376,X121338_5301,X135849_12666,X136296_2709,X137049_4971,X137555_10302,...,X235476_9196,X236674_44316,X241030_2917,X242562_17320,X243446_17343,X246396_2361,X247020_27217,X247085_6096,X99556_26307,X99669_18498
SAMPLE_NAME,,,,,,,,,,,,,,,,,,,,,
HA43,T,GA,CT,C,G,AG,CT,GT,GA,C,...,G,CT,C,AG,C,A,G,A,CT,TA
NC20096,C,G,NaN,C,G,G,T,T,GA,C,...,G,CT,C,A,C,A,G,G,C,T

In [485]:
y =combW.iloc[1::2,:].drop(labels="WELL",axis=1)
y['SAMPLE_NAME'] = [ x[:-1] for x in y['SAMPLE_NAME'] ]
y = y.set_index('SAMPLE_NAME')
y

,X104650_2998,X104795_7287,X107554_774,X112084_4248,X120320_1376,X121338_5301,X135849_12666,X136296_2709,X137049_4971,X137555_10302,...,X235476_9196,X236674_44316,X241030_2917,X242562_17320,X243446_17343,X246396_2361,X247020_27217,X247085_6096,X99556_26307,X99669_18498
SAMPLE_NAME,,,,,,,,,,,,,,,,,,,,,
HA43,T,GA,CT,C,G,AG,CT,GT,GA,C,...,G,CT,C,AG,C,A,G,A,CT,TA
NC20096,NaN,G,NaN,C,G,G,NaN,T,GA,C,...,G,CT,NaN,A,C,A,G,G,C,T

In [486]:
rep = y == x
rep
#rep.loc[:,["X107554_774","X196396_44391","X189859_7702","X241030_2917","X232694_38736"]]

,X104650_2998,X104795_7287,X107554_774,X112084_4248,X120320_1376,X121338_5301,X135849_12666,X136296_2709,X137049_4971,X137555_10302,...,X235476_9196,X236674_44316,X241030_2917,X242562_17320,X243446_17343,X246396_2361,X247020_27217,X247085_6096,X99556_26307,X99669_18498
SAMPLE_NAME,,,,,,,,,,,,,,,,,,,,,
HA43,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
NC20096,False,True,False,True,True,True,False,True,True,True,...,True,True,False,True,True,True,True,True,True,True

In [488]:
list(rep.sum(axis=0)[rep.sum(axis=0) <2].index)

['X104650_2998',
 'X107554_774',
 'X135849_12666',
 'X186875_4699',
 'X188288_3568',
 'X196396_44391',
 'X219104_2929',
 'X224014_1072',
 'X227403_586',
 'X241030_2917']

In [489]:
combW.loc[:,['SAMPLE_NAME']+list(rep.sum(axis=0)[rep.sum(axis=0) < 2].index)]

,SAMPLE_NAME,X104650_2998,X107554_774,X135849_12666,X186875_4699,X188288_3568,X196396_44391,X219104_2929,X224014_1072,X227403_586,X241030_2917
11,HA43,T,CT,CT,C,G,G,G,A,GA,C
12,HA43B,T,CT,CT,C,G,G,G,A,GA,C
40,NC20096,C,NaN,T,CT,G,GA,A,G,NaN,C
41,NC20096B,NaN,NaN,NaN,NaN,GA,NaN,NaN,NaN,NaN,NaN

Incorrect calls within reps:

In [490]:
iW = []

##### Between
**GBS**

In [491]:
combB = comb[comb['SAMPLE_NAME'].isin(repsB)].drop(labels="WELL",axis=1)
combB['SAMPLE_NAME'] = [ x[:-1] for x in combB['SAMPLE_NAME'] ]
combB = combB.set_index('SAMPLE_NAME')
combB

,X104650_2998,X104795_7287,X107554_774,X112084_4248,X120320_1376,X121338_5301,X135849_12666,X136296_2709,X137049_4971,X137555_10302,...,X235476_9196,X236674_44316,X241030_2917,X242562_17320,X243446_17343,X246396_2361,X247020_27217,X247085_6096,X99556_26307,X99669_18498
SAMPLE_NAME,,,,,,,,,,,,,,,,,,,,,
DB12041,TC,G,T,C,A,G,T,G,G,C,...,G,T,C,G,C,A,G,A,T,A
FLM15,T,GA,C,C,G,G,C,T,A,G,...,G,C,NaN,G,T,G,A,G,C,A
LA1139,TC,GA,T,C,G,G,CT,GT,GA,C,...,G,T,CT,G,C,A,G,NaN,CT,A
RM11,T,GA,NaN,C,A,G,CT,T,GA,C,...,G,C,C,G,T,G,AG,A,CT,TA
SL14,NaN,GA,NaN,NaN,G,A,NaN,G,G,C,...,A,T,C,A,C,A,G,G,C,T

In [492]:
alleles = {'AT':'TA',
        'TC':'CT',
        'CG':'GC',
        'GT':'TG',
        'AC':'CA',
          'AG':'GA'}
combB = combB.replace(to_replace=alleles)

In [493]:
gbsrep = pd.read_csv("GBS_5reps_91.tab", sep='\t',converters={0:str},index_col = 0)
MAreps = pd.read_csv("../Panel_Design/All_GBS_Test/AllGBS_DB91_filtered_AC.tab", sep='\t',converters={0:str},index_col = 0)

In [494]:
snps = list(combB.columns)
names = list(combB.index)
gbsrep = gbsrep.loc[names,snps]
gbsrep

,X104650_2998,X104795_7287,X107554_774,X112084_4248,X120320_1376,X121338_5301,X135849_12666,X136296_2709,X137049_4971,X137555_10302,...,X235476_9196,X236674_44316,X241030_2917,X242562_17320,X243446_17343,X246396_2361,X247020_27217,X247085_6096,X99556_26307,X99669_18498
SAMPLE_NAME,,,,,,,,,,,,,,,,,,,,,
DB12041,T,G,T,NaN,A,G,T,G,G,C,...,G,T,C,NaN,C,A,NaN,A,T,A
FLM15,T,A,C,G,G,G,C,T,A,G,...,G,C,T,G,T,G,A,G,C,A
LA1139,T,A,T,C,G,G,CT,TG,GA,C,...,G,T,CT,G,C,A,G,GA,CT,A
RM11,T,GA,C,C,A,G,CT,T,GA,C,...,G,C,CT,G,T,G,GA,A,CT,TA
SL14,C,A,T,G,G,A,T,G,G,C,...,A,T,C,A,C,A,G,G,C,T

In [495]:
ne_stacked = (combB != gbsrep).stack()
changed = ne_stacked[ne_stacked]
changed.index.names = ['id', 'snp']
changed.head()

id       snp
DB12041  X104650_2998     True
         X112084_4248     True
         X208950_18711    True
         X224779_3298     True
         X232694_38736    True
dtype: bool

In [496]:
%expand ${ }
difference_locations = np.where(combB != gbsrep)
this = combB.values[difference_locations]
gbs = gbsrep.values[difference_locations]
compare = pd.DataFrame({'gbs': gbs, '${suf}': this}, index=changed.index)

In [497]:
iB= compare.groupby(['snp']).size().sort_values(ascending=False)
iB

snp
X104650_2998     3
X104795_7287     3
X112084_4248     3
X188288_3568     3
X163651_5669     2
X107554_774      2
X196396_44391    2
X208950_18711    2
X232070_4307     2
X224779_3298     2
X241030_2917     2
X208882_7091     2
X99650_7157      1
X188831_25784    1
X242562_17320    1
X228046_17494    1
X135849_12666    1
X145_10612       1
X182187_7007     1
X195403_4772     1
X232694_38736    1
X203605_2031     1
X203078_7413     1
X219104_2929     1
X224014_1072     1
X247020_27217    1
X227403_586      1
X184380_10942    1
X247085_6096     1
dtype: int64

In [498]:
iBs = list(iB.index)

In [499]:
idx = pd.IndexSlice
compare.loc[idx[:,iBs],:]

                       gbs 042420
id      snp
DB12041 X104650_2998     T     CT
        X112084_4248   NaN      C
        X208950_18711  NaN      A
        X224779_3298   NaN     GA
        X232694_38736  NaN      T
        X203078_7413     T     CT
        X203605_2031     C     CT
        X228046_17494    T     TA
        X242562_17320  NaN      G
        X247020_27217  NaN      G
FLM15   X104795_7287     A     GA
        X112084_4248     G      C
        X188288_3568     G    NaN
        X188831_25784  NaN     TA
        X224014_1072     G     GA
        X232070_4307     A    NaN
        X241030_2917     T    NaN
LA1139  X104650_2998     T     CT
        X104795_7287     A     GA
        X188288_3568     A    NaN
        X224779_3298     G     GA
        X163651_5669    TA      T
        X208882_7091    TA    NaN
        X247085_6096    GA    NaN
RM11    X107554_774      C    NaN
        X195403_4772    CA      C
        X196396_44391   GA    NaN
        X163651_5669     A    NaN
        X184380_10942  NaN     GA
        X208882_7091     T    NaN
        X241030_2917    CT      C
SL14    X104650_2998     C    NaN
        X104795_7287     A     GA
        X107554_774      T    NaN
        X112084_4248     G    NaN
        X135849_12666    T    NaN
        X145_10612       C     CT
        X182187_7007   NaN      G
        X188288_3568     G    NaN
        X196396_44391    A    NaN
        X208950_18711    C    NaN
        X219104_2929     A    NaN
        X227403_586      G    NaN
        X232070_4307     C    NaN
        X99650_7157      G    NaN

In [500]:
compna = compare.dropna()
#compna.sort_index(inplace=True)

In [501]:
compna.loc[idx[:,iBs],:]

                      gbs 042420
id      snp
DB12041 X104650_2998    T     CT
        X203078_7413    T     CT
        X203605_2031    C     CT
        X228046_17494   T     TA
FLM15   X104795_7287    A     GA
        X112084_4248    G      C
        X224014_1072    G     GA
LA1139  X104650_2998    T     CT
        X104795_7287    A     GA
        X224779_3298    G     GA
        X163651_5669   TA      T
RM11    X195403_4772   CA      C
        X241030_2917   CT      C
SL14    X104795_7287    A     GA
        X145_10612      C     CT

In [502]:
i = ["X104650_2998","X104795_7287"]

**MA**

In [503]:
MAreps = MAreps.loc[gbsrep.index,snps]
MAreps

/home/ksilliman/.local/lib/python3.6/site-packages/pandas/core/indexing.py:1494: FutureWarning:
Passing list-likes to .loc or [] with any missing label will raise
KeyError in the future, you can use .reindex() as an alternative.

See the documentation here:
https://pandas.pydata.org/pandas-docs/stable/indexing.html#deprecate-loc-reindex-listlike
  return self._getitem_tuple(key)

,X104650_2998,X104795_7287,X107554_774,X112084_4248,X120320_1376,X121338_5301,X135849_12666,X136296_2709,X137049_4971,X137555_10302,...,X235476_9196,X236674_44316,X241030_2917,X242562_17320,X243446_17343,X246396_2361,X247020_27217,X247085_6096,X99556_26307,X99669_18498
SAMPLE_NAME,,,,,,,,,,,,,,,,,,,,,
DB12041,T,G,T,C,A,G,T,G,G,C,...,G,T,C,G,C,A,G,A,T,A
FLM15,T,A,C,C,G,G,C,T,A,G,...,G,C,T,G,T,G,A,G,C,A
LA1139,T,A,T,C,G,G,CT,TG,GA,C,...,G,T,CT,G,C,A,G,GA,CT,A
RM11,T,GA,C,C,A,G,CT,T,GA,C,...,G,C,CT,G,T,G,GA,A,CT,TA
SL14,C,A,T,C,G,A,T,G,G,C,...,A,T,C,A,C,A,G,G,C,T

In [504]:
ne_stacked = (combB != MAreps).stack()
changed = ne_stacked[ne_stacked]
changed.index.names = ['id', 'snp']

In [505]:
%expand ${ }
difference_locations = np.where(combB != MAreps)
this = combB.values[difference_locations]
ma = MAreps.values[difference_locations]
compare = pd.DataFrame({'MA': ma, '${suf}': this}, index=changed.index)

In [506]:
iB= compare.groupby(['snp']).size().sort_values(ascending=False)
iB

snp
X219104_2929     5
X104650_2998     3
X104795_7287     3
X188288_3568     3
X196396_44391    2
X208882_7091     2
X107554_774      2
X163651_5669     2
X232070_4307     2
X241030_2917     2
X112084_4248     1
X135849_12666    1
X145_10612       1
X247085_6096     1
X208950_18711    1
X227403_586      1
X99650_7157      1
X184380_10942    1
X203078_7413     1
X203605_2031     1
X224014_1072     1
dtype: int64

In [507]:
iBs = list(iB.index)

In [508]:
idx = pd.IndexSlice
compare.loc[idx[:,iBs],:]

                        MA 042420
id      snp
DB12041 X104650_2998     T     CT
        X219104_2929   NaN      G
        X203078_7413     T     CT
        X203605_2031     C     CT
FLM15   X104795_7287     A     GA
        X188288_3568     G    NaN
        X219104_2929   NaN      G
        X224014_1072     G     GA
        X232070_4307     A    NaN
        X241030_2917     T    NaN
LA1139  X104650_2998     T     CT
        X104795_7287     A     GA
        X188288_3568     A    NaN
        X219104_2929   NaN      G
        X163651_5669    TA      T
        X208882_7091    TA    NaN
        X247085_6096    GA    NaN
RM11    X107554_774      C    NaN
        X196396_44391   GA    NaN
        X219104_2929   NaN      G
        X163651_5669     A    NaN
        X184380_10942    A     GA
        X208882_7091     T    NaN
        X241030_2917    CT      C
SL14    X104650_2998     C    NaN
        X104795_7287     A     GA
        X107554_774      T    NaN
        X112084_4248     C    NaN
        X135849_12666    T    NaN
        X145_10612       C     CT
        X188288_3568     G    NaN
        X196396_44391    A    NaN
        X208950_18711    C    NaN
        X219104_2929   NaN    NaN
        X227403_586      G    NaN
        X232070_4307     C    NaN
        X99650_7157      G    NaN

In [509]:
compna = compare.dropna()
#compna.sort_index(inplace=True)

In [510]:
compna.loc[idx[:,iBs],:]

                       MA 042420
id      snp
DB12041 X104650_2998    T     CT
        X203078_7413    T     CT
        X203605_2031    C     CT
FLM15   X104795_7287    A     GA
        X224014_1072    G     GA
LA1139  X104650_2998    T     CT
        X104795_7287    A     GA
        X163651_5669   TA      T
RM11    X184380_10942   A     GA
        X241030_2917   CT      C
SL14    X104795_7287    A     GA
        X145_10612      C     CT

In [390]:
i

['X104650_2998', 'X104795_7287']

In [511]:
i = i + ["X203605_2031","X203078_7413","X224014_1072","X163651_5669","X184380_10942","X241030_2917","X145_10612"]

In [512]:
%expand
increps["{suf}"]=i
increps

{'041720': {'X112084_4248',
  'X117099_13373',
  'X126488_13871',
  'X145_10612',
  'X183726_3387',
  'X188611_1228',
  'X197051_909',
  'X224779_3298',
  'X228046_17494',
  'X232694_38736',
  'X247020_27217'},
 '042420': ['X104650_2998',
  'X104795_7287',
  'X203605_2031',
  'X203078_7413',
  'X224014_1072',
  'X163651_5669',
  'X184380_10942',
  'X241030_2917',
  'X145_10612']}

### 043020

In [98]:
suf = "043020"

#### Read in autoclustered genotype reports

In [99]:
%expand
infile1 = "{suf}/GenotypeArea_Katherine_DB_CHIP749_DB52_{suf}_CHIP749_DB52_{suf}_1_ACme.xls"
infile2 = "{suf}/GenotypeArea_Katherine_DB_CHIP750_DB39_{suf}_CHIP750_DB39_{suf}_1_ACme.xls"

In [100]:
# read in Genotypes sheet from excel file 
inxl52 = pd.ExcelFile(infile1)
inxl39 = pd.ExcelFile(infile2)

## ID and remove bad samples

In [101]:
db52_sample = inxl52.parse('Sample_Summary', converters={'CallRate':p2f})
#db52_sample.loc[100:,]

In [102]:
failed52_sampleDF = db52_sample[db52_sample['CallRate'] < 0.8]
failed52_sample = set(failed52_sampleDF["SAMPLE_NAME"] + "_"+failed52_sampleDF["WELL"])
failed52_sample

{'BM2597_C11', 'LA1139B_E05', 'RM11B_D05', 'SL14B_B05', 'WH72_E06'}

In [103]:

db39_sample = inxl39.parse('Sample_Summary', converters={'CallRate':p2f})
#db39_sample.loc[50:100,]

In [104]:
failed39_sampleDF = db39_sample[db39_sample['CallRate'] < 0.8]
failed39_sample = set(failed39_sampleDF["SAMPLE_NAME"] + "_"+failed39_sampleDF["WELL"])
failed39_sample

{'LA1139B_E05', 'LSRC15_G08'}

In [105]:
#Intersection
failed39_sample.intersection(failed52_sample)

{'LA1139B_E05'}

In [106]:
# Union
union_bad_samp = set(failed52_sampleDF['SAMPLE_NAME']).union(set(failed39_sampleDF['SAMPLE_NAME']))
union_bad_samp

{'BM2597', 'LA1139B', 'LSRC15', 'RM11B', 'SL14B', 'WH72'}

In [107]:
%expand
badSampleDict["{suf}"] = list(union_bad_samp)
badSampleDict

{'042420': ['NC20297',
  'NC20317',
  'NC20385',
  'MF3',
  'HA3',
  'NC20339',
  'NC20096B',
  'NC20301',
  'NC20377',
  'HA5',
  'NC20372',
  'SL14B',
  'MF4'],
 '043020': ['LA1139B', 'WH72', 'RM11B', 'BM2597', 'LSRC15', 'SL14B'],
 '050720': ['SR5', 'WP32'],
 '051420': ['HRTN18261',
  'HRTN18256',
  'OUAR1890',
  'HRTN18257',
  'HRTN18257B',
  'HRTN18259',
  'SL14B']}

In [108]:
union_bad_samp.remove("SL14B")
union_bad_samp.remove("LA1139B")
union_bad_samp.remove("RM11B")

In [109]:
pass52 = db52_sample[~db52_sample['SAMPLE_NAME'].isin(union_bad_samp)]
pass39 = db39_sample[~db39_sample['SAMPLE_NAME'].isin(union_bad_samp)]

In [110]:
goodSamps = goodSamps + list(pass52['SAMPLE_NAME'])

## ID bad SNPs

In [526]:
db52_geno = inxl52.parse('Genotypes')

In [527]:
db52_geno_filt = db52_geno.loc[pass52.index]

In [528]:
df = db52_geno_filt
coverage_row= df.iloc[:,2:].count()/len(df.iloc[:,2:])
df_coverage=pd.DataFrame(data=coverage_row).T
df_coverage=df_coverage.reindex(columns=df.columns)
df52 =df.append(df_coverage,ignore_index=True).T
df52.tail()

,0,1,2,3,4,5,6,7,8,9,...,84,85,86,87,88,89,90,91,92,93
X247730_24337,C,C,C,C,C,C,C,C,C,T,...,C,C,C,CT,C,C,C,CT,CT,1
X248436_64413,T,T,TC,T,T,T,T,T,T,C,...,TC,T,T,T,TC,T,T,T,T,0.989247
X2819_3199,G,G,G,G,G,G,G,G,AG,A,...,AG,G,G,AG,G,G,G,G,AG,1
X8113_1011,T,T,TA,T,T,T,T,T,T,A,...,T,NaN,T,TA,T,T,T,A,T,0.967742
X99650_7157,A,A,A,GA,GA,GA,A,A,A,A,...,A,GA,GA,A,GA,GA,G,G,A,0.989247

In [529]:
good52_snpDF = df52.iloc[0:2,:].append(df52[df52.iloc[:,93] >= 0.9])
good52_snpDF.head()

,0,1,2,3,4,5,6,7,8,9,...,84,85,86,87,88,89,90,91,92,93
SAMPLE_NAME,BM2598,BM2600,BM2629,BM2630,BM60710,BM60711,BM6078,DB12041B,DEM2,FLM15B,...,WH61,WH62,WH63,WH64,WH65,WH66,WH73,WH74,WH75,NaN
WELL,D11,B11,A11,H10,E11,F11,G11,A05,H11,C05,...,G12,F08,E08,B06,A06,C06,E12,F06,D06,NaN
X104650_2998,T,T,T,T,T,T,T,T,T,T,...,TC,TC,TC,T,T,TC,TC,TC,T,0.978495
X104795_7287,G,G,G,G,G,G,G,G,GA,A,...,GA,G,GA,GA,G,GA,A,G,G,1
X112084_4248,C,C,C,C,C,C,C,GC,C,GC,...,C,C,C,C,C,C,C,C,C,0.989247

In [530]:
len(good52_snpDF)-2

43

In [531]:
bad52_snp = df52.index.values[df52.iloc[:,93] <= 0.9]
bad52_snp

array(['X107554_774', 'X126230_13777', 'X141791_7873', 'X190236_2746',
       'X194561_9140', 'X194968_5912', 'X2156_1716', 'X218289_7454',
       'X221258_4404'], dtype=object)

In [532]:
%expand
bad52SnpDict["{suf}"] = list(bad52_snp)
bad52SnpDict

{'041720': ['X126230_13777',
  'X141791_7873',
  'X190236_2746',
  'X194561_9140',
  'X194968_5912',
  'X2156_1716',
  'X218289_7454',
  'X221258_4404'],
 '042420': ['X117099_13373',
  'X126230_13777',
  'X141791_7873',
  'X183726_3387',
  'X190236_2746',
  'X194561_9140',
  'X194968_5912',
  'X2156_1716',
  'X218289_7454',
  'X221258_4404'],
 '043020': ['X107554_774',
  'X126230_13777',
  'X141791_7873',
  'X190236_2746',
  'X194561_9140',
  'X194968_5912',
  'X2156_1716',
  'X218289_7454',
  'X221258_4404']}

In [533]:
db39_geno = inxl39.parse('Genotypes')

In [534]:
db39_geno_filt = db39_geno.loc[pass39.index]

In [535]:
df = db39_geno_filt
coverage_row= df.iloc[:,2:].count()/len(df.iloc[:,2:])
df_coverage=pd.DataFrame(data=coverage_row).T
df_coverage=df_coverage.reindex(columns=df.columns)
df39 =df.append(df_coverage,ignore_index=True).T
df39.tail()

,0,1,2,3,4,5,6,7,8,9,...,84,85,86,87,88,89,90,91,92,93
X247020_27217,G,G,G,AG,G,G,G,G,G,A,...,AG,AG,AG,AG,G,G,G,AG,AG,0.989247
X247085_6096,A,A,AG,A,A,A,A,A,A,G,...,G,AG,AG,G,AG,A,AG,AG,AG,0.989247
X6349_7011,A,A,A,A,A,A,A,A,A,NaN,...,A,A,A,A,A,A,A,A,A,0.903226
X99556_26307,T,T,CT,T,T,T,T,T,T,C,...,CT,T,C,C,C,CT,CT,C,C,0.989247
X99669_18498,A,T,A,A,A,A,A,A,TA,A,...,T,T,T,A,T,T,T,T,TA,0.989247

In [536]:
good39_snpDF = df39.iloc[0:2,:].append(df39[df39.iloc[:,93] >= 0.9])
good39_snpDF.head()
len(good39_snpDF)-2

36

In [537]:
bad39_snp = df39.index.values[df39.iloc[:,93] <= 0.9]
bad39_snp

array(['X201239_10000', 'X205485_3157', 'X230449_27274'], dtype=object)

In [538]:
%expand
bad39SnpDict["{suf}"] = list(bad39_snp)
bad39SnpDict

{'041720': ['X201239_10000', 'X205485_3157', 'X230449_27274'],
 '042420': ['X201239_10000', 'X205485_3157', 'X230449_27274', 'X6349_7011'],
 '043020': ['X201239_10000', 'X205485_3157', 'X230449_27274']}

**79 good SNPs (43 and 36)**

In [539]:
# make list of bad snps from both panels
bad91_snp = list(bad39_snp) + list(bad52_snp)
bad91_snp

['X201239_10000',
 'X205485_3157',
 'X230449_27274',
 'X107554_774',
 'X126230_13777',
 'X141791_7873',
 'X190236_2746',
 'X194561_9140',
 'X194968_5912',
 'X2156_1716',
 'X218289_7454',
 'X221258_4404']

#### Compare replicates

In [540]:
#reps
repsB = ["DB12041B","FLM15B","LA1139B","RM11B","SL14B"]
repsW = ["Sipsey120","Sipsey120B","SL23","SL23B"]

In [541]:
comb = pd.merge(db52_geno_filt, db39_geno_filt)
comb.shape

(93, 93)

In [542]:
comb = comb.drop(labels=bad91_snp,axis=1)
comb.head()

,SAMPLE_NAME,WELL,X104650_2998,X104795_7287,X112084_4248,X117099_13373,X120320_1376,X121338_5301,X135849_12666,X136296_2709,...,X236674_44316,X241030_2917,X242562_17320,X243446_17343,X246396_2361,X247020_27217,X247085_6096,X6349_7011,X99556_26307,X99669_18498
0,BM2598,D11,T,G,C,T,A,G,T,G,...,T,C,G,C,A,G,A,A,T,A
1,BM2600,B11,T,G,C,T,A,G,T,G,...,T,C,G,C,A,G,A,A,T,T
2,BM2629,A11,T,G,C,C,AG,G,T,G,...,T,CT,G,C,A,G,AG,A,CT,A
3,BM2630,H10,T,G,C,C,A,G,T,G,...,T,C,G,C,A,AG,A,A,T,A
4,BM60710,E11,T,G,C,T,A,G,T,G,...,T,C,G,C,A,G,A,A,T,A

##### Within

In [543]:
combW = comb[comb['SAMPLE_NAME'].isin(repsW)]
combW

,SAMPLE_NAME,WELL,X104650_2998,X104795_7287,X112084_4248,X117099_13373,X120320_1376,X121338_5301,X135849_12666,X136296_2709,...,X236674_44316,X241030_2917,X242562_17320,X243446_17343,X246396_2361,X247020_27217,X247085_6096,X6349_7011,X99556_26307,X99669_18498
62,Sipsey120,B01,T,G,C,T,A,G,T,G,...,T,C,G,C,A,G,A,A,T,A
63,Sipsey120B,A12,T,G,C,T,A,G,T,G,...,T,C,G,C,A,G,A,A,T,A
72,SL23,G06,C,A,C,C,G,A,T,G,...,T,C,A,C,A,G,G,A,C,T
73,SL23B,B12,C,A,C,C,G,A,T,G,...,T,C,A,C,A,G,G,A,C,T

In [544]:
x = combW.iloc[0::2,].drop(labels="WELL",axis=1).set_index('SAMPLE_NAME')
x

,X104650_2998,X104795_7287,X112084_4248,X117099_13373,X120320_1376,X121338_5301,X135849_12666,X136296_2709,X137049_4971,X137555_10302,...,X236674_44316,X241030_2917,X242562_17320,X243446_17343,X246396_2361,X247020_27217,X247085_6096,X6349_7011,X99556_26307,X99669_18498
SAMPLE_NAME,,,,,,,,,,,,,,,,,,,,,
Sipsey120,T,G,C,T,A,G,T,G,G,C,...,T,C,G,C,A,G,A,A,T,A
SL23,C,A,C,C,G,A,T,G,G,C,...,T,C,A,C,A,G,G,A,C,T

In [545]:
y =combW.iloc[1::2,:].drop(labels="WELL",axis=1)
y['SAMPLE_NAME'] = [ x[:-1] for x in y['SAMPLE_NAME'] ]
y = y.set_index('SAMPLE_NAME')
y

,X104650_2998,X104795_7287,X112084_4248,X117099_13373,X120320_1376,X121338_5301,X135849_12666,X136296_2709,X137049_4971,X137555_10302,...,X236674_44316,X241030_2917,X242562_17320,X243446_17343,X246396_2361,X247020_27217,X247085_6096,X6349_7011,X99556_26307,X99669_18498
SAMPLE_NAME,,,,,,,,,,,,,,,,,,,,,
Sipsey120,T,G,C,T,A,G,T,G,G,C,...,T,C,G,C,A,G,A,A,T,A
SL23,C,A,C,C,G,A,T,G,G,C,...,T,C,A,C,A,G,G,A,C,T

In [546]:
rep = y == x
rep
#rep.loc[:,["X107554_774","X196396_44391","X189859_7702","X241030_2917","X232694_38736"]]

,X104650_2998,X104795_7287,X112084_4248,X117099_13373,X120320_1376,X121338_5301,X135849_12666,X136296_2709,X137049_4971,X137555_10302,...,X236674_44316,X241030_2917,X242562_17320,X243446_17343,X246396_2361,X247020_27217,X247085_6096,X6349_7011,X99556_26307,X99669_18498
SAMPLE_NAME,,,,,,,,,,,,,,,,,,,,,
Sipsey120,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
SL23,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True

In [547]:
list(rep.sum(axis=0)[rep.sum(axis=0) < 2].index)

['X210453_8036']

In [548]:
combW.loc[:,['SAMPLE_NAME','X210453_8036']]

   SAMPLE_NAME X210453_8036
62   Sipsey120          NaN
63  Sipsey120B          NaN
72        SL23            T
73       SL23B            T

Incorrect calls within reps:

In [549]:
iW = []

##### Between
**GBS**

In [550]:
combB = comb[comb['SAMPLE_NAME'].isin(repsB)].drop(labels="WELL",axis=1)
combB['SAMPLE_NAME'] = [ x[:-1] for x in combB['SAMPLE_NAME'] ]
combB = combB.set_index('SAMPLE_NAME')
combB

,X104650_2998,X104795_7287,X112084_4248,X117099_13373,X120320_1376,X121338_5301,X135849_12666,X136296_2709,X137049_4971,X137555_10302,...,X236674_44316,X241030_2917,X242562_17320,X243446_17343,X246396_2361,X247020_27217,X247085_6096,X6349_7011,X99556_26307,X99669_18498
SAMPLE_NAME,,,,,,,,,,,,,,,,,,,,,
DB12041,T,G,GC,NaN,A,G,T,G,G,C,...,NaN,CT,G,C,NaN,G,A,A,T,A
FLM15,T,A,GC,NaN,G,G,C,T,A,G,...,C,T,G,T,G,A,G,NaN,C,A
LA1139,NaN,GA,C,NaN,G,G,CT,GT,GA,C,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
RM11,TC,GA,GC,NaN,A,G,NaN,T,GA,C,...,C,NaN,G,T,G,AG,A,NaN,CT,TA
SL14,C,A,NaN,NaN,G,A,T,G,G,C,...,T,NaN,A,C,A,G,G,A,C,T

In [551]:
alleles = {'AT':'TA',
        'TC':'CT',
        'CG':'GC',
        'GT':'TG',
        'AC':'CA',
          'AG':'GA'}
combB = combB.replace(to_replace=alleles)

In [552]:
gbsrep = pd.read_csv("GBS_5reps_91.tab", sep='\t',converters={0:str},index_col = 0)
MAreps = pd.read_csv("../Panel_Design/All_GBS_Test/AllGBS_DB91_filtered_AC.tab", sep='\t',converters={0:str},index_col = 0)

In [553]:
snps = list(combB.columns)
names = list(combB.index)
gbsrep = gbsrep.loc[names,snps]
gbsrep

,X104650_2998,X104795_7287,X112084_4248,X117099_13373,X120320_1376,X121338_5301,X135849_12666,X136296_2709,X137049_4971,X137555_10302,...,X236674_44316,X241030_2917,X242562_17320,X243446_17343,X246396_2361,X247020_27217,X247085_6096,X6349_7011,X99556_26307,X99669_18498
SAMPLE_NAME,,,,,,,,,,,,,,,,,,,,,
DB12041,T,G,NaN,T,A,G,T,G,G,C,...,T,C,NaN,C,A,NaN,A,A,T,A
FLM15,T,A,G,C,G,G,C,T,A,G,...,C,T,G,T,G,A,G,C,C,A
LA1139,T,A,C,CT,G,G,CT,TG,GA,C,...,T,CT,G,C,A,G,GA,CA,CT,A
RM11,T,GA,C,C,A,G,CT,T,GA,C,...,C,CT,G,T,G,GA,A,C,CT,TA
SL14,C,A,G,C,G,A,T,G,G,C,...,T,C,A,C,A,G,G,A,C,T

In [554]:
ne_stacked = (combB != gbsrep).stack()
changed = ne_stacked[ne_stacked]
changed.index.names = ['id', 'snp']
changed.head()

id       snp
DB12041  X112084_4248     True
         X117099_13373    True
         X183726_3387     True
         X188288_3568     True
         X208950_18711    True
dtype: bool

In [555]:
%expand ${ }
difference_locations = np.where(combB != gbsrep)
this = combB.values[difference_locations]
gbs = gbsrep.values[difference_locations]
compare = pd.DataFrame({'gbs': gbs, '${suf}': this}, index=changed.index)

In [556]:
iB= compare.groupby(['snp']).size().sort_values(ascending=False)
iB

snp
X188288_3568     5
X117099_13373    5
X112084_4248     4
X241030_2917     4
X196396_44391    4
X203605_2031     4
X186875_4699     3
X6349_7011       3
X163651_5669     3
X232070_4307     2
X184380_10942    2
X224779_3298     2
X219104_2929     2
X208950_18711    2
X104650_2998     2
X242562_17320    2
X246396_2361     2
X228046_17494    2
X236674_44316    2
X247020_27217    2
X99650_7157      1
X104795_7287     1
X8113_1011       1
X248436_64413    1
X232694_38736    1
X183726_3387     1
X126488_13871    1
X221610_11653    1
X135849_12666    1
X182187_7007     1
X195403_4772     1
X188831_25784    1
X100356_986      1
X99669_18498     1
X133693_3166     1
X207370_447      1
X247085_6096     1
X243446_17343    1
X235476_9196     1
X233311_1838     1
X231130_28557    1
X227745_1145     1
X227160_20121    1
X209955_2523     1
X208882_7091     1
X203078_7413     1
X136479_9685     1
X202212_2423     1
X2000_3888       1
X193586_5159     1
X1922_4164       1
X181705_10004    1
X181680_15514    1
X99556_26307     1
X180421_6678     1
X139290_4953     1
X180573_7024     1
dtype: int64

In [557]:
iBs = list(iB.index)

In [558]:
idx = pd.IndexSlice
compare.loc[idx[:,iBs],:]

                       gbs 043020
id      snp
DB12041 X112084_4248   NaN     GC
        X117099_13373    T    NaN
        X183726_3387   NaN      A
        X188288_3568     A    NaN
        X208950_18711  NaN      A
        X224779_3298   NaN     GA
        X232070_4307     C    NaN
        X232694_38736  NaN      T
        X163651_5669     A    NaN
        X203605_2031     C    NaN
        X228046_17494    T     TA
        X236674_44316    T    NaN
        X241030_2917     C     CT
        X242562_17320  NaN      G
        X246396_2361     A    NaN
        X247020_27217  NaN      G
FLM15   X112084_4248     G     GC
        X117099_13373    C    NaN
        X186875_4699     C    NaN
        X188288_3568     G    NaN
        X188831_25784  NaN     TA
        X196396_44391    G    NaN
        X203605_2031     C    NaN
        X6349_7011       C    NaN
LA1139  X104650_2998     T    NaN
        X104795_7287     A     GA
        X117099_13373   CT    NaN
        X186875_4699     C    NaN
        X188288_3568     A    NaN
        X196396_44391    G    NaN
...                    ...    ...
        X247020_27217    G    NaN
        X247085_6096    GA    NaN
        X6349_7011      CA    NaN
        X99556_26307    CT    NaN
        X99669_18498     A    NaN
RM11    X104650_2998     T     CT
        X112084_4248     C     GC
        X117099_13373    C    NaN
        X135849_12666   CT    NaN
        X186875_4699     C    NaN
        X188288_3568     A    NaN
        X195403_4772    CA      C
        X196396_44391   GA    NaN
        X219104_2929     G    NaN
        X232070_4307     C     CA
        X248436_64413   CT    NaN
        X8113_1011      TA      T
        X99650_7157      A    NaN
        X163651_5669     A     TA
        X184380_10942  NaN     GA
        X241030_2917    CT    NaN
        X6349_7011       C    NaN
SL14    X112084_4248     G    NaN
        X117099_13373    C    NaN
        X182187_7007   NaN      G
        X188288_3568     G    NaN
        X196396_44391    A     GA
        X219104_2929     A    NaN
        X203605_2031     T     CT
        X241030_2917     C    NaN

[94 rows x 2 columns]

In [559]:
compna = compare.dropna()
#compna.sort_index(inplace=True)

In [560]:
compna.loc[idx[:,iBs],:]

                      gbs 043020
id      snp
DB12041 X228046_17494   T     TA
        X241030_2917    C     CT
FLM15   X112084_4248    G     GC
LA1139  X104795_7287    A     GA
        X224779_3298    G     GA
RM11    X104650_2998    T     CT
        X112084_4248    C     GC
        X195403_4772   CA      C
        X232070_4307    C     CA
        X8113_1011     TA      T
        X163651_5669    A     TA
SL14    X196396_44391   A     GA
        X203605_2031    T     CT

In [561]:
i = ["X112084_4248"]

**MA**

In [562]:
MAreps = MAreps.loc[gbsrep.index,snps]
MAreps

/home/ksilliman/.local/lib/python3.6/site-packages/pandas/core/indexing.py:1494: FutureWarning:
Passing list-likes to .loc or [] with any missing label will raise
KeyError in the future, you can use .reindex() as an alternative.

See the documentation here:
https://pandas.pydata.org/pandas-docs/stable/indexing.html#deprecate-loc-reindex-listlike
  return self._getitem_tuple(key)

,X104650_2998,X104795_7287,X112084_4248,X117099_13373,X120320_1376,X121338_5301,X135849_12666,X136296_2709,X137049_4971,X137555_10302,...,X236674_44316,X241030_2917,X242562_17320,X243446_17343,X246396_2361,X247020_27217,X247085_6096,X6349_7011,X99556_26307,X99669_18498
SAMPLE_NAME,,,,,,,,,,,,,,,,,,,,,
DB12041,T,G,C,T,A,G,T,G,G,C,...,T,C,G,C,A,G,A,A,T,A
FLM15,T,A,C,CT,G,G,C,T,A,G,...,C,T,G,T,G,A,G,NaN,C,A
LA1139,T,A,C,CT,G,G,CT,TG,GA,C,...,T,CT,G,C,A,G,GA,A,CT,A
RM11,T,GA,C,C,A,G,CT,T,GA,C,...,C,CT,G,T,G,GA,A,NaN,CT,TA
SL14,C,A,C,C,G,A,T,G,G,C,...,T,C,A,C,A,G,G,A,C,T

In [563]:
ne_stacked = (combB != MAreps).stack()
changed = ne_stacked[ne_stacked]
changed.index.names = ['id', 'snp']

In [564]:
%expand ${ }
difference_locations = np.where(combB != MAreps)
this = combB.values[difference_locations]
ma = MAreps.values[difference_locations]
compare = pd.DataFrame({'MA': ma, '${suf}': this}, index=changed.index)

In [565]:
iB= compare.groupby(['snp']).size().sort_values(ascending=False)
iB

snp
X117099_13373    5
X188288_3568     5
X219104_2929     5
X203605_2031     4
X112084_4248     4
X196396_44391    4
X241030_2917     4
X6349_7011       3
X186875_4699     3
X163651_5669     3
X184380_10942    2
X232070_4307     2
X104650_2998     2
X236674_44316    2
X246396_2361     2
X228046_17494    1
X126488_13871    1
X100356_986      1
X99650_7157      1
X8113_1011       1
X248436_64413    1
X235476_9196     1
X221610_11653    1
X208950_18711    1
X227745_1145     1
X242562_17320    1
X243446_17343    1
X135849_12666    1
X247020_27217    1
X247085_6096     1
X104795_7287     1
X133693_3166     1
X136479_9685     1
X139290_4953     1
X233311_1838     1
X227160_20121    1
X209955_2523     1
X208882_7091     1
X207370_447      1
X231130_28557    1
X203078_7413     1
X202212_2423     1
X2000_3888       1
X193586_5159     1
X1922_4164       1
X99556_26307     1
X181705_10004    1
X181680_15514    1
X180573_7024     1
X180421_6678     1
X99669_18498     1
dtype: int64

In [566]:
iBs = list(iB.index)

In [567]:
idx = pd.IndexSlice
compare.loc[idx[:,iBs],:]

                        MA 043020
id      snp
DB12041 X112084_4248     C     GC
        X117099_13373    T    NaN
        X188288_3568     A    NaN
        X219104_2929   NaN      G
        X232070_4307     C    NaN
        X163651_5669     A    NaN
        X203605_2031     C    NaN
        X236674_44316    T    NaN
        X241030_2917     C     CT
        X246396_2361     A    NaN
FLM15   X112084_4248     C     GC
        X117099_13373   CT    NaN
        X186875_4699     C    NaN
        X188288_3568     G    NaN
        X196396_44391    G    NaN
        X219104_2929   NaN      G
        X203605_2031     C    NaN
        X6349_7011     NaN    NaN
LA1139  X104650_2998     T    NaN
        X104795_7287     A     GA
        X117099_13373   CT    NaN
        X186875_4699     C    NaN
        X188288_3568     A    NaN
        X196396_44391    G    NaN
        X208950_18711    A    NaN
        X219104_2929   NaN      G
        X221610_11653   GA    NaN
        X100356_986      A    NaN
        X126488_13871   TG    NaN
        X133693_3166     G    NaN
...                    ...    ...
        X243446_17343    C    NaN
        X246396_2361     A    NaN
        X247020_27217    G    NaN
        X247085_6096    GA    NaN
        X6349_7011       A    NaN
        X99556_26307    CT    NaN
        X99669_18498     A    NaN
RM11    X104650_2998     T     CT
        X112084_4248     C     GC
        X117099_13373    C    NaN
        X135849_12666   CT    NaN
        X186875_4699     C    NaN
        X188288_3568     A    NaN
        X196396_44391   GA    NaN
        X219104_2929   NaN    NaN
        X232070_4307     C     CA
        X248436_64413   CT    NaN
        X8113_1011      TA      T
        X99650_7157      A    NaN
        X163651_5669     A     TA
        X184380_10942    A     GA
        X241030_2917    CT    NaN
        X6349_7011     NaN    NaN
SL14    X112084_4248     C    NaN
        X117099_13373    C    NaN
        X188288_3568     G    NaN
        X196396_44391    A     GA
        X219104_2929   NaN    NaN
        X203605_2031     T     CT
        X241030_2917     C    NaN

[86 rows x 2 columns]

In [568]:
compna = compare.dropna()
#compna.sort_index(inplace=True)

In [569]:
compna.loc[idx[:,iBs],:]

                       MA 043020
id      snp
DB12041 X112084_4248    C     GC
        X241030_2917    C     CT
FLM15   X112084_4248    C     GC
LA1139  X104795_7287    A     GA
RM11    X104650_2998    T     CT
        X112084_4248    C     GC
        X232070_4307    C     CA
        X8113_1011     TA      T
        X163651_5669    A     TA
        X184380_10942   A     GA
SL14    X196396_44391   A     GA
        X203605_2031    T     CT

In [570]:
i

['X112084_4248']

In [571]:
i = i + ["X203605_2031","X163651_5669","X184380_10942","X241030_2917","X104795_7287","X104650_2998","X232070_4307",
         "X8113_1011","X196396_44391"]

In [572]:
%expand
increps["{suf}"]=i
increps

{'041720': {'X112084_4248',
  'X117099_13373',
  'X126488_13871',
  'X145_10612',
  'X183726_3387',
  'X188611_1228',
  'X197051_909',
  'X224779_3298',
  'X228046_17494',
  'X232694_38736',
  'X247020_27217'},
 '042420': ['X104650_2998',
  'X104795_7287',
  'X203605_2031',
  'X203078_7413',
  'X224014_1072',
  'X163651_5669',
  'X184380_10942',
  'X241030_2917',
  'X145_10612'],
 '043020': ['X112084_4248',
  'X203605_2031',
  'X163651_5669',
  'X184380_10942',
  'X241030_2917',
  'X104795_7287',
  'X104650_2998',
  'X232070_4307',
  'X8113_1011',
  'X196396_44391']}

### 050720

In [111]:
suf = "050720"

#### Read in autoclustered genotype reports

In [112]:
%expand
infile1 = "{suf}/GenotypeArea_Katherine_DB_CHIP757_DB52_{suf}_CHIP757_DB52_{suf}_1_ACme.xls"
infile2 = "{suf}/GenotypeArea_Katherine_DB_CHIP758_DB39_{suf}_CHIP758_DB39_{suf}_1_ACme.xls"

In [113]:
# read in Genotypes sheet from excel file 
inxl52 = pd.ExcelFile(infile1)
inxl39 = pd.ExcelFile(infile2)

## ID and remove bad samples

In [114]:
db52_sample = inxl52.parse('Sample_Summary', converters={'CallRate':p2f})
#db52_sample.loc[100:,]

In [115]:
failed52_sampleDF = db52_sample[db52_sample['CallRate'] < 0.8]
failed52_sample = set(failed52_sampleDF["SAMPLE_NAME"] + "_"+failed52_sampleDF["WELL"])
failed52_sample

{'SR5_A01'}

In [116]:

db39_sample = inxl39.parse('Sample_Summary', converters={'CallRate':p2f})
#db39_sample.loc[50:100,]

In [117]:
failed39_sampleDF = db39_sample[db39_sample['CallRate'] < 0.8]
failed39_sample = set(failed39_sampleDF["SAMPLE_NAME"] + "_"+failed39_sampleDF["WELL"])
failed39_sample

{'SR5_A01', 'WP32_A07'}

In [118]:
#Intersection
failed39_sample.intersection(failed52_sample)

{'SR5_A01'}

In [119]:
# Union
union_bad_samp = set(failed52_sampleDF['SAMPLE_NAME']).union(set(failed39_sampleDF['SAMPLE_NAME']))
union_bad_samp

{'SR5', 'WP32'}

In [120]:
%expand
badSampleDict["{suf}"] = list(union_bad_samp)
badSampleDict

{'042420': ['NC20297',
  'NC20317',
  'NC20385',
  'MF3',
  'HA3',
  'NC20339',
  'NC20096B',
  'NC20301',
  'NC20377',
  'HA5',
  'NC20372',
  'SL14B',
  'MF4'],
 '043020': ['LA1139B', 'WH72', 'RM11B', 'BM2597', 'LSRC15', 'SL14B'],
 '050720': ['SR5', 'WP32'],
 '051420': ['HRTN18261',
  'HRTN18256',
  'OUAR1890',
  'HRTN18257',
  'HRTN18257B',
  'HRTN18259',
  'SL14B']}

In [121]:
pass52 = db52_sample[~db52_sample['SAMPLE_NAME'].isin(union_bad_samp)]
pass39 = db39_sample[~db39_sample['SAMPLE_NAME'].isin(union_bad_samp)]

In [122]:
goodSamps = goodSamps + list(pass52['SAMPLE_NAME'])

## ID bad SNPs

In [587]:
db52_geno = inxl52.parse('Genotypes')

In [588]:
db52_geno_filt = db52_geno.loc[pass52.index]

In [589]:
df = db52_geno_filt
coverage_row= df.iloc[:,2:].count()/len(df.iloc[:,2:])
df_coverage=pd.DataFrame(data=coverage_row).T
df_coverage=df_coverage.reindex(columns=df.columns)
df52 =df.append(df_coverage,ignore_index=True).T
df52.tail()

,0,1,2,3,4,5,6,7,8,9,...,85,86,87,88,89,90,91,92,93,94
X247730_24337,C,T,T,CT,C,CT,CT,CT,CT,T,...,C,C,CT,CT,CT,C,CT,CT,T,1
X248436_64413,T,C,C,TC,T,T,TC,T,T,TC,...,T,T,TC,TC,T,TC,T,T,C,0.851064
X2819_3199,G,AG,G,G,AG,AG,AG,AG,AG,AG,...,AG,AG,G,G,A,G,AG,A,A,1
X8113_1011,T,T,T,NaN,NaN,A,TA,A,A,TA,...,NaN,TA,T,T,A,NaN,T,TA,A,0.904255
X99650_7157,A,A,A,A,GA,GA,A,GA,GA,A,...,GA,GA,A,GA,A,A,A,A,A,0.946809

In [590]:
good52_snpDF = df52.iloc[0:2,:].append(df52[df52.iloc[:,94] >= 0.9])
good52_snpDF.head()

,0,1,2,3,4,5,6,7,8,9,...,85,86,87,88,89,90,91,92,93,94
SAMPLE_NAME,DB12041B,EU278,EU281,EU286,EU293,EU295,EU303,EU307,EU309,EU315,...,WP50,WP51,WP52,WP62,WP64,WP70,WP74,WP75,WP77,NaN
WELL,E04,E02,F02,G02,H02,A03,B03,C03,D03,E01,...,B08,C08,D08,E08,F08,G08,H08,A09,B09,NaN
X104650_2998,T,T,T,T,T,T,TC,T,T,T,...,C,T,T,T,TC,T,T,T,T,1
X104795_7287,G,A,A,A,G,G,A,G,G,A,...,A,A,GA,G,GA,GA,G,GA,A,1
X107554_774,T,CT,C,C,C,C,C,C,C,CT,...,T,C,C,CT,C,C,NaN,C,C,0.93617

In [591]:
len(good52_snpDF)-2

42

In [592]:
bad52_snp = df52.index.values[df52.iloc[:,94] <= 0.9]
bad52_snp

array(['X117099_13373', 'X126230_13777', 'X141791_7873', 'X188288_3568',
       'X190236_2746', 'X194561_9140', 'X194968_5912', 'X218289_7454',
       'X221258_4404', 'X248436_64413'], dtype=object)

In [593]:
%expand
bad52SnpDict["{suf}"] = list(bad52_snp)
bad52SnpDict

{'041720': ['X126230_13777',
  'X141791_7873',
  'X190236_2746',
  'X194561_9140',
  'X194968_5912',
  'X2156_1716',
  'X218289_7454',
  'X221258_4404'],
 '042420': ['X117099_13373',
  'X126230_13777',
  'X141791_7873',
  'X183726_3387',
  'X190236_2746',
  'X194561_9140',
  'X194968_5912',
  'X2156_1716',
  'X218289_7454',
  'X221258_4404'],
 '043020': ['X107554_774',
  'X126230_13777',
  'X141791_7873',
  'X190236_2746',
  'X194561_9140',
  'X194968_5912',
  'X2156_1716',
  'X218289_7454',
  'X221258_4404'],
 '050720': ['X117099_13373',
  'X126230_13777',
  'X141791_7873',
  'X188288_3568',
  'X190236_2746',
  'X194561_9140',
  'X194968_5912',
  'X218289_7454',
  'X221258_4404',
  'X248436_64413']}

In [594]:
db39_geno = inxl39.parse('Genotypes')

In [595]:
db39_geno_filt = db39_geno.loc[pass39.index]

In [596]:
df = db39_geno_filt
coverage_row= df.iloc[:,2:].count()/len(df.iloc[:,2:])
df_coverage=pd.DataFrame(data=coverage_row).T
df_coverage=df_coverage.reindex(columns=df.columns)
df39 =df.append(df_coverage,ignore_index=True).T
df39.tail()

,0,1,2,3,4,5,6,7,8,9,...,85,86,87,88,89,90,91,92,93,94
X247020_27217,G,AG,AG,AG,A,AG,AG,AG,AG,AG,...,AG,AG,AG,AG,AG,AG,AG,AG,A,0.989362
X247085_6096,A,AG,A,AG,G,AG,AG,A,AG,AG,...,AG,G,AG,AG,AG,AG,G,G,G,1
X6349_7011,A,A,A,A,A,A,A,A,A,A,...,A,A,A,A,A,A,A,A,CA,0.638298
X99556_26307,T,C,C,C,C,CT,CT,T,CT,CT,...,C,C,C,CT,C,C,C,CT,C,1
X99669_18498,A,TA,A,A,TA,A,A,TA,A,A,...,TA,TA,TA,A,TA,A,T,A,A,1

In [597]:
good39_snpDF = df39.iloc[0:2,:].append(df39[df39.iloc[:,94] >= 0.9])
good39_snpDF.head()
len(good39_snpDF)-2

35

In [598]:
bad39_snp = df39.index.values[df39.iloc[:,94] <= 0.9]
bad39_snp

array(['X201239_10000', 'X205485_3157', 'X230449_27274', 'X6349_7011'],
      dtype=object)

In [599]:
%expand
bad39SnpDict["{suf}"] = list(bad39_snp)
bad39SnpDict

{'041720': ['X201239_10000', 'X205485_3157', 'X230449_27274'],
 '042420': ['X201239_10000', 'X205485_3157', 'X230449_27274', 'X6349_7011'],
 '043020': ['X201239_10000', 'X205485_3157', 'X230449_27274'],
 '050720': ['X201239_10000', 'X205485_3157', 'X230449_27274', 'X6349_7011']}

**77 good SNPs (42 and 35)**

In [600]:
# make list of bad snps from both panels
bad91_snp = list(bad39_snp) + list(bad52_snp)
bad91_snp

['X201239_10000',
 'X205485_3157',
 'X230449_27274',
 'X6349_7011',
 'X117099_13373',
 'X126230_13777',
 'X141791_7873',
 'X188288_3568',
 'X190236_2746',
 'X194561_9140',
 'X194968_5912',
 'X218289_7454',
 'X221258_4404',
 'X248436_64413']

#### Compare replicates  (no within)

In [607]:
#reps
repsB = ["DB12041B","FLM15B","LA1139B","RM11B","SL14B"]

In [608]:
comb = pd.merge(db52_geno_filt, db39_geno_filt)
comb.shape

(94, 93)

In [609]:
comb = comb.drop(labels=bad91_snp,axis=1)
comb.head()

,SAMPLE_NAME,WELL,X104650_2998,X104795_7287,X107554_774,X112084_4248,X120320_1376,X121338_5301,X135849_12666,X136296_2709,...,X235476_9196,X236674_44316,X241030_2917,X242562_17320,X243446_17343,X246396_2361,X247020_27217,X247085_6096,X99556_26307,X99669_18498
0,DB12041B,E04,T,G,T,C,A,G,T,G,...,G,T,C,G,C,NaN,G,A,T,A
1,EU278,E02,T,A,CT,C,G,G,CT,T,...,G,C,CT,G,T,G,AG,AG,C,TA
2,EU281,F02,T,A,C,C,G,G,T,T,...,G,C,C,G,CT,G,AG,A,C,A
3,EU286,G02,T,A,C,C,A,G,CT,GT,...,G,CT,CT,AG,CT,GA,AG,AG,C,A
4,EU293,H02,T,G,C,C,AG,AG,CT,G,...,G,C,CT,G,C,GA,A,G,C,TA

##### Between
**GBS**

In [610]:
combB = comb[comb['SAMPLE_NAME'].isin(repsB)].drop(labels="WELL",axis=1)
combB['SAMPLE_NAME'] = [ x[:-1] for x in combB['SAMPLE_NAME'] ]
combB = combB.set_index('SAMPLE_NAME')
combB

,X104650_2998,X104795_7287,X107554_774,X112084_4248,X120320_1376,X121338_5301,X135849_12666,X136296_2709,X137049_4971,X137555_10302,...,X235476_9196,X236674_44316,X241030_2917,X242562_17320,X243446_17343,X246396_2361,X247020_27217,X247085_6096,X99556_26307,X99669_18498
SAMPLE_NAME,,,,,,,,,,,,,,,,,,,,,
DB12041,T,G,T,C,A,G,T,G,G,C,...,G,T,C,G,C,NaN,G,A,T,A
FLM15,T,A,C,C,G,G,C,T,A,G,...,G,C,T,G,T,G,A,G,C,A
LA1139,T,GA,NaN,C,G,G,CT,GT,GA,C,...,G,T,CT,G,C,A,AG,AG,CT,A
RM11,T,GA,C,C,A,G,CT,T,GA,C,...,G,C,CT,G,T,G,AG,A,CT,TA
SL14,C,GA,T,C,G,A,T,G,G,C,...,A,T,CT,A,C,NaN,G,G,C,T

In [611]:
alleles = {'AT':'TA',
        'TC':'CT',
        'CG':'GC',
        'GT':'TG',
        'AC':'CA',
          'AG':'GA'}
combB = combB.replace(to_replace=alleles)

In [612]:
gbsrep = pd.read_csv("GBS_5reps_91.tab", sep='\t',converters={0:str},index_col = 0)
MAreps = pd.read_csv("../Panel_Design/All_GBS_Test/AllGBS_DB91_filtered_AC.tab", sep='\t',converters={0:str},index_col = 0)

In [613]:
snps = list(combB.columns)
names = list(combB.index)
gbsrep = gbsrep.loc[names,snps]
gbsrep

,X104650_2998,X104795_7287,X107554_774,X112084_4248,X120320_1376,X121338_5301,X135849_12666,X136296_2709,X137049_4971,X137555_10302,...,X235476_9196,X236674_44316,X241030_2917,X242562_17320,X243446_17343,X246396_2361,X247020_27217,X247085_6096,X99556_26307,X99669_18498
SAMPLE_NAME,,,,,,,,,,,,,,,,,,,,,
DB12041,T,G,T,NaN,A,G,T,G,G,C,...,G,T,C,NaN,C,A,NaN,A,T,A
FLM15,T,A,C,G,G,G,C,T,A,G,...,G,C,T,G,T,G,A,G,C,A
LA1139,T,A,T,C,G,G,CT,TG,GA,C,...,G,T,CT,G,C,A,G,GA,CT,A
RM11,T,GA,C,C,A,G,CT,T,GA,C,...,G,C,CT,G,T,G,GA,A,CT,TA
SL14,C,A,T,G,G,A,T,G,G,C,...,A,T,C,A,C,A,G,G,C,T

In [614]:
ne_stacked = (combB != gbsrep).stack()
changed = ne_stacked[ne_stacked]
changed.index.names = ['id', 'snp']
changed.head()

id       snp
DB12041  X112084_4248     True
         X183726_3387     True
         X208950_18711    True
         X2156_1716       True
         X224779_3298     True
dtype: bool

In [615]:
%expand ${ }
difference_locations = np.where(combB != gbsrep)
this = combB.values[difference_locations]
gbs = gbsrep.values[difference_locations]
compare = pd.DataFrame({'gbs': gbs, '${suf}': this}, index=changed.index)

In [616]:
iB= compare.groupby(['snp']).size().sort_values(ascending=False)
iB

snp
X2156_1716       4
X112084_4248     3
X247020_27217    2
X224779_3298     2
X196396_44391    2
X246396_2361     2
X104795_7287     2
X99650_7157      1
X232694_38736    1
X163651_5669     1
X184380_10942    1
X228046_17494    1
X208950_18711    1
X241030_2917     1
X195403_4772     1
X188831_25784    1
X183726_3387     1
X182187_7007     1
X242562_17320    1
X107554_774      1
X219104_2929     1
dtype: int64

In [617]:
iBs = list(iB.index)

In [618]:
idx = pd.IndexSlice
compare.loc[idx[:,iBs],:]

                       gbs 050720
id      snp
DB12041 X112084_4248   NaN      C
        X183726_3387   NaN      A
        X208950_18711  NaN      A
        X2156_1716       A    NaN
        X224779_3298   NaN     GA
        X232694_38736  NaN      T
        X228046_17494    T     TA
        X242562_17320  NaN      G
        X246396_2361     A    NaN
        X247020_27217  NaN      G
FLM15   X112084_4248     G      C
        X188831_25784  NaN     TA
LA1139  X104795_7287     A     GA
        X107554_774      T    NaN
        X2156_1716      GA      G
        X224779_3298     G     GA
        X99650_7157     GA    NaN
        X163651_5669    TA    NaN
        X247020_27217    G     GA
RM11    X195403_4772    CA      C
        X196396_44391   GA      G
        X2156_1716      SG      G
        X184380_10942  NaN      A
SL14    X104795_7287     A     GA
        X112084_4248     G      C
        X182187_7007   NaN      G
        X196396_44391    A     GA
        X2156_1716       A    NaN
        X219104_2929     A    NaN
        X241030_2917     C     CT
        X246396_2361     A    NaN

In [619]:
compna = compare.dropna()
#compna.sort_index(inplace=True)

In [620]:
compna.loc[idx[:,iBs],:]

                      gbs 050720
id      snp
DB12041 X228046_17494   T     TA
FLM15   X112084_4248    G      C
LA1139  X104795_7287    A     GA
        X2156_1716     GA      G
        X224779_3298    G     GA
        X247020_27217   G     GA
RM11    X195403_4772   CA      C
        X196396_44391  GA      G
        X2156_1716     SG      G
SL14    X104795_7287    A     GA
        X112084_4248    G      C
        X196396_44391   A     GA
        X241030_2917    C     CT

In [621]:
i = ["X112084_4248","X104795_7287","X2156_1716","X196396_44391"]

**MA**

In [622]:
MAreps = MAreps.loc[gbsrep.index,snps]
MAreps

,X104650_2998,X104795_7287,X107554_774,X112084_4248,X120320_1376,X121338_5301,X135849_12666,X136296_2709,X137049_4971,X137555_10302,...,X235476_9196,X236674_44316,X241030_2917,X242562_17320,X243446_17343,X246396_2361,X247020_27217,X247085_6096,X99556_26307,X99669_18498
SAMPLE_NAME,,,,,,,,,,,,,,,,,,,,,
DB12041,T,G,T,C,A,G,T,G,G,C,...,G,T,C,G,C,A,G,A,T,A
FLM15,T,A,C,C,G,G,C,T,A,G,...,G,C,T,G,T,G,A,G,C,A
LA1139,T,A,T,C,G,G,CT,TG,GA,C,...,G,T,CT,G,C,A,G,GA,CT,A
RM11,T,GA,C,C,A,G,CT,T,GA,C,...,G,C,CT,G,T,G,GA,A,CT,TA
SL14,C,A,T,C,G,A,T,G,G,C,...,A,T,C,A,C,A,G,G,C,T

In [623]:
ne_stacked = (combB != MAreps).stack()
changed = ne_stacked[ne_stacked]
changed.index.names = ['id', 'snp']

In [624]:
%expand ${ }
difference_locations = np.where(combB != MAreps)
this = combB.values[difference_locations]
ma = MAreps.values[difference_locations]
compare = pd.DataFrame({'MA': ma, '${suf}': this}, index=changed.index)

In [625]:
iB= compare.groupby(['snp']).size().sort_values(ascending=False)
iB

snp
X219104_2929     5
X2156_1716       5
X246396_2361     2
X196396_44391    2
X104795_7287     2
X247020_27217    1
X241030_2917     1
X163651_5669     1
X99650_7157      1
X107554_774      1
dtype: int64

In [626]:
iBs = list(iB.index)

In [627]:
idx = pd.IndexSlice
compare.loc[idx[:,iBs],:]

                        MA 050720
id      snp
DB12041 X2156_1716     NaN    NaN
        X219104_2929   NaN      G
        X246396_2361     A    NaN
FLM15   X2156_1716     NaN      G
        X219104_2929   NaN      G
LA1139  X104795_7287     A     GA
        X107554_774      T    NaN
        X2156_1716     NaN      G
        X219104_2929   NaN      G
        X99650_7157     GA    NaN
        X163651_5669    TA    NaN
        X247020_27217    G     GA
RM11    X196396_44391   GA      G
        X2156_1716     NaN      G
        X219104_2929   NaN      G
SL14    X104795_7287     A     GA
        X196396_44391    A     GA
        X2156_1716     NaN    NaN
        X219104_2929   NaN    NaN
        X241030_2917     C     CT
        X246396_2361     A    NaN

In [628]:
compna = compare.dropna()
#compna.sort_index(inplace=True)

In [629]:
compna.loc[idx[:,iBs],:]

                      MA 050720
id     snp
LA1139 X104795_7287    A     GA
       X247020_27217   G     GA
RM11   X196396_44391  GA      G
SL14   X104795_7287    A     GA
       X196396_44391   A     GA
       X241030_2917    C     CT

In [630]:
i

['X112084_4248', 'X104795_7287', 'X2156_1716', 'X196396_44391']

In [631]:
i = i + ["X247020_27217","X241030_2917"]

In [632]:
%expand
increps["{suf}"]=i
increps

{'041720': {'X112084_4248',
  'X117099_13373',
  'X126488_13871',
  'X145_10612',
  'X183726_3387',
  'X188611_1228',
  'X197051_909',
  'X224779_3298',
  'X228046_17494',
  'X232694_38736',
  'X247020_27217'},
 '042420': ['X104650_2998',
  'X104795_7287',
  'X203605_2031',
  'X203078_7413',
  'X224014_1072',
  'X163651_5669',
  'X184380_10942',
  'X241030_2917',
  'X145_10612'],
 '043020': ['X112084_4248',
  'X203605_2031',
  'X163651_5669',
  'X184380_10942',
  'X241030_2917',
  'X104795_7287',
  'X104650_2998',
  'X232070_4307',
  'X8113_1011',
  'X196396_44391'],
 '050720': ['X112084_4248',
  'X104795_7287',
  'X2156_1716',
  'X196396_44391',
  'X247020_27217',
  'X241030_2917']}

### 051420

In [123]:
suf = "051420"

#### Read in autoclustered genotype reports

In [124]:
%expand
infile1 = "{suf}/GenotypeArea_Katherine_DB_CHIP761_DB52_{suf}_CHIP761_DB52_0514_1_ACme.xls"
infile2 = "{suf}/GenotypeArea_Katherine_DB_CHIP762_DB39_{suf}_CHIP762_DB39_{suf}_1_ACme.xls"

In [125]:
# read in Genotypes sheet from excel file 
inxl52 = pd.ExcelFile(infile1)
inxl39 = pd.ExcelFile(infile2)

## ID and remove bad samples

In [126]:
db52_sample = inxl52.parse('Sample_Summary', converters={'CallRate':p2f})
#db52_sample.loc[100:,]

In [127]:
failed52_sampleDF = db52_sample[db52_sample['CallRate'] < 0.8]
failed52_sample = set(failed52_sampleDF["SAMPLE_NAME"] + "_"+failed52_sampleDF["WELL"])
failed52_sample

{'HRTN18256_A01',
 'HRTN18257_B01',
 'HRTN18259_C01',
 'HRTN18261_D01',
 'OUAR1890_A04',
 'SL14B_C12'}

In [128]:

db39_sample = inxl39.parse('Sample_Summary', converters={'CallRate':p2f})
#db39_sample.loc[50:100,]

In [129]:
failed39_sampleDF = db39_sample[db39_sample['CallRate'] < 0.8]
failed39_sample = set(failed39_sampleDF["SAMPLE_NAME"] + "_"+failed39_sampleDF["WELL"])
failed39_sample

{'HRTN18256_A01', 'HRTN18257B_G12', 'HRTN18261_D01'}

In [130]:
#Intersection
failed39_sample.intersection(failed52_sample)

{'HRTN18256_A01', 'HRTN18261_D01'}

In [131]:
# Union
union_bad_samp = set(failed52_sampleDF['SAMPLE_NAME']).union(set(failed39_sampleDF['SAMPLE_NAME']))
union_bad_samp

{'HRTN18256',
 'HRTN18257',
 'HRTN18257B',
 'HRTN18259',
 'HRTN18261',
 'OUAR1890',
 'SL14B'}

In [132]:
%expand
badSampleDict["{suf}"] = list(union_bad_samp)
badSampleDict

{'042420': ['NC20297',
  'NC20317',
  'NC20385',
  'MF3',
  'HA3',
  'NC20339',
  'NC20096B',
  'NC20301',
  'NC20377',
  'HA5',
  'NC20372',
  'SL14B',
  'MF4'],
 '043020': ['LA1139B', 'WH72', 'RM11B', 'BM2597', 'LSRC15', 'SL14B'],
 '050720': ['SR5', 'WP32'],
 '051420': ['HRTN18261',
  'HRTN18256',
  'OUAR1890',
  'HRTN18257',
  'HRTN18257B',
  'HRTN18259',
  'SL14B']}

In [133]:
union_bad_samp.remove("SL14B")

In [134]:
pass52 = db52_sample[~db52_sample['SAMPLE_NAME'].isin(union_bad_samp)]
pass39 = db39_sample[~db39_sample['SAMPLE_NAME'].isin(union_bad_samp)]

In [135]:
goodSamps = goodSamps + list(pass52['SAMPLE_NAME'])

## ID bad SNPs

In [647]:
db52_geno = inxl52.parse('Genotypes')

In [648]:
db52_geno_filt = db52_geno.loc[pass52.index]

In [649]:
df = db52_geno_filt
coverage_row= df.iloc[:,2:].count()/len(df.iloc[:,2:])
df_coverage=pd.DataFrame(data=coverage_row).T
df_coverage=df_coverage.reindex(columns=df.columns)
df52 =df.append(df_coverage,ignore_index=True).T
df52.tail()

,0,1,2,3,4,5,6,7,8,9,...,81,82,83,84,85,86,87,88,89,90
X247730_24337,C,C,C,C,C,C,C,C,C,C,...,C,C,C,C,C,C,C,CT,C,1
X248436_64413,T,T,T,T,T,T,T,T,T,T,...,T,T,T,T,T,T,T,TC,T,1
X2819_3199,G,AG,G,AG,G,G,G,G,G,AG,...,G,G,G,G,G,AG,G,G,G,1
X8113_1011,T,T,TA,T,T,T,T,T,T,T,...,T,T,T,T,T,T,T,TA,T,1
X99650_7157,G,G,G,G,GA,GA,G,G,G,G,...,G,G,G,G,G,GA,G,A,G,1

In [650]:
good52_snpDF = df52.iloc[0:2,:].append(df52[df52.iloc[:,90] >= 0.9])
good52_snpDF.head()

,0,1,2,3,4,5,6,7,8,9,...,81,82,83,84,85,86,87,88,89,90
SAMPLE_NAME,BOTN18367,BOTN18370,BOTN18373,BOTN18374,BOTN18386,BOTN18389,BOTN18391,BOTN18394,BOTN18398,BOTN18403,...,OUAR18134,OUAR18190,OUAR18201,OUAR18203,OUAR18229,OUAR18232,OUAR1898,RM11B,SL14B,NaN
WELL,A06,B10,C10,D10,B06,C06,D06,E06,F06,G06,...,G05,H05,G03,H03,E03,F03,B04,D12,C12,NaN
X104650_2998,C,C,T,C,TC,TC,C,T,TC,TC,...,C,C,T,TC,C,C,TC,T,C,1
X104795_7287,A,A,A,A,A,A,GA,A,GA,A,...,A,GA,GA,GA,A,GA,A,GA,NaN,0.988889
X107554_774,T,T,T,T,T,T,T,T,T,CT,...,T,T,T,T,C,T,T,C,T,0.988889

In [651]:
len(good52_snpDF)-2

44

In [652]:
bad52_snp = df52.index.values[df52.iloc[:,90] <= 0.9]
bad52_snp

array(['X126230_13777', 'X141791_7873', 'X190236_2746', 'X194561_9140',
       'X194968_5912', 'X2156_1716', 'X218289_7454', 'X221258_4404'],
      dtype=object)

In [653]:
%expand
bad52SnpDict["{suf}"] = list(bad52_snp)
bad52SnpDict

{'041720': ['X126230_13777',
  'X141791_7873',
  'X190236_2746',
  'X194561_9140',
  'X194968_5912',
  'X2156_1716',
  'X218289_7454',
  'X221258_4404'],
 '042420': ['X117099_13373',
  'X126230_13777',
  'X141791_7873',
  'X183726_3387',
  'X190236_2746',
  'X194561_9140',
  'X194968_5912',
  'X2156_1716',
  'X218289_7454',
  'X221258_4404'],
 '043020': ['X107554_774',
  'X126230_13777',
  'X141791_7873',
  'X190236_2746',
  'X194561_9140',
  'X194968_5912',
  'X2156_1716',
  'X218289_7454',
  'X221258_4404'],
 '050720': ['X117099_13373',
  'X126230_13777',
  'X141791_7873',
  'X188288_3568',
  'X190236_2746',
  'X194561_9140',
  'X194968_5912',
  'X218289_7454',
  'X221258_4404',
  'X248436_64413'],
 '051420': ['X126230_13777',
  'X141791_7873',
  'X190236_2746',
  'X194561_9140',
  'X194968_5912',
  'X2156_1716',
  'X218289_7454',
  'X221258_4404']}

In [654]:
db39_geno = inxl39.parse('Genotypes')

In [655]:
db39_geno_filt = db39_geno.loc[pass39.index]

In [656]:
df = db39_geno_filt
coverage_row= df.iloc[:,2:].count()/len(df.iloc[:,2:])
df_coverage=pd.DataFrame(data=coverage_row).T
df_coverage=df_coverage.reindex(columns=df.columns)
df39 =df.append(df_coverage,ignore_index=True).T
df39.tail()

,0,1,2,3,4,5,6,7,8,9,...,81,82,83,84,85,86,87,88,89,90
X247020_27217,G,G,G,G,AG,G,AG,G,G,G,...,G,G,AG,G,G,G,G,AG,G,1
X247085_6096,AG,G,G,AG,AG,A,G,G,G,G,...,G,AG,AG,AG,AG,G,G,A,G,1
X6349_7011,A,A,A,A,A,A,A,A,A,A,...,A,A,A,A,A,A,A,C,A,0.988889
X99556_26307,C,C,C,C,C,C,C,C,C,C,...,C,C,C,C,C,C,C,CT,C,1
X99669_18498,T,T,T,TA,TA,T,A,T,T,T,...,T,T,T,T,TA,T,T,TA,T,1

In [657]:
good39_snpDF = df39.iloc[0:2,:].append(df39[df39.iloc[:,90] >= 0.9])
good39_snpDF.head()
len(good39_snpDF)-2

36

In [658]:
bad39_snp = df39.index.values[df39.iloc[:,90] <= 0.9]
bad39_snp

array(['X201239_10000', 'X205485_3157', 'X230449_27274'], dtype=object)

In [659]:
%expand
bad39SnpDict["{suf}"] = list(bad39_snp)
bad39SnpDict

{'041720': ['X201239_10000', 'X205485_3157', 'X230449_27274'],
 '042420': ['X201239_10000', 'X205485_3157', 'X230449_27274', 'X6349_7011'],
 '043020': ['X201239_10000', 'X205485_3157', 'X230449_27274'],
 '050720': ['X201239_10000', 'X205485_3157', 'X230449_27274', 'X6349_7011'],
 '051420': ['X201239_10000', 'X205485_3157', 'X230449_27274']}

**80 good SNPs (44 and 36)**

In [660]:
# make list of bad snps from both panels
bad91_snp = list(bad39_snp) + list(bad52_snp)
bad91_snp

['X201239_10000',
 'X205485_3157',
 'X230449_27274',
 'X126230_13777',
 'X141791_7873',
 'X190236_2746',
 'X194561_9140',
 'X194968_5912',
 'X2156_1716',
 'X218289_7454',
 'X221258_4404']

#### Compare replicates

In [665]:
#reps
repsB = ["DB12041B","FLM15B","LA1139B","RM11B","SL14B"]
repsW = ["OUAR18131","OUAR18131B"]

In [661]:
comb = pd.merge(db52_geno_filt, db39_geno_filt)
comb.shape

(90, 93)

In [666]:
comb = comb.drop(labels=bad91_snp,axis=1)
comb.head()

,SAMPLE_NAME,WELL,X104650_2998,X104795_7287,X107554_774,X112084_4248,X117099_13373,X120320_1376,X121338_5301,X135849_12666,...,X236674_44316,X241030_2917,X242562_17320,X243446_17343,X246396_2361,X247020_27217,X247085_6096,X6349_7011,X99556_26307,X99669_18498
0,BOTN18367,A06,C,A,T,C,C,G,A,T,...,T,C,AG,C,A,G,AG,A,C,T
1,BOTN18370,B10,C,A,T,C,CT,G,A,T,...,T,C,A,C,A,G,G,A,C,T
2,BOTN18373,C10,T,A,T,C,CT,G,A,T,...,T,C,A,C,A,G,G,A,C,T
3,BOTN18374,D10,C,A,T,C,C,G,A,T,...,T,C,A,C,A,G,AG,A,C,TA
4,BOTN18386,B06,TC,A,T,C,CT,G,A,T,...,T,C,A,C,A,AG,AG,A,C,TA

##### Within

In [667]:
combW = comb[comb['SAMPLE_NAME'].isin(repsW)]
combW

,SAMPLE_NAME,WELL,X104650_2998,X104795_7287,X107554_774,X112084_4248,X117099_13373,X120320_1376,X121338_5301,X135849_12666,...,X236674_44316,X241030_2917,X242562_17320,X243446_17343,X246396_2361,X247020_27217,X247085_6096,X6349_7011,X99556_26307,X99669_18498
78,OUAR18131,E05,TC,GA,T,C,C,G,A,T,...,T,C,A,C,A,G,G,A,C,T
79,OUAR18131B,H12,TC,GA,T,C,C,G,A,T,...,T,C,A,C,A,G,G,A,C,T

In [668]:
x = combW.iloc[0::2,].drop(labels="WELL",axis=1).set_index('SAMPLE_NAME')
x

,X104650_2998,X104795_7287,X107554_774,X112084_4248,X117099_13373,X120320_1376,X121338_5301,X135849_12666,X136296_2709,X137049_4971,...,X236674_44316,X241030_2917,X242562_17320,X243446_17343,X246396_2361,X247020_27217,X247085_6096,X6349_7011,X99556_26307,X99669_18498
SAMPLE_NAME,,,,,,,,,,,,,,,,,,,,,
OUAR18131,TC,GA,T,C,C,G,A,T,G,G,...,T,C,A,C,A,G,G,A,C,T

In [669]:
y =combW.iloc[1::2,:].drop(labels="WELL",axis=1)
y['SAMPLE_NAME'] = [ x[:-1] for x in y['SAMPLE_NAME'] ]
y = y.set_index('SAMPLE_NAME')
y

,X104650_2998,X104795_7287,X107554_774,X112084_4248,X117099_13373,X120320_1376,X121338_5301,X135849_12666,X136296_2709,X137049_4971,...,X236674_44316,X241030_2917,X242562_17320,X243446_17343,X246396_2361,X247020_27217,X247085_6096,X6349_7011,X99556_26307,X99669_18498
SAMPLE_NAME,,,,,,,,,,,,,,,,,,,,,
OUAR18131,TC,GA,T,C,C,G,A,T,G,G,...,T,C,A,C,A,G,G,A,C,T

In [670]:
rep = y == x
rep
#rep.loc[:,["X107554_774","X196396_44391","X189859_7702","X241030_2917","X232694_38736"]]

,X104650_2998,X104795_7287,X107554_774,X112084_4248,X117099_13373,X120320_1376,X121338_5301,X135849_12666,X136296_2709,X137049_4971,...,X236674_44316,X241030_2917,X242562_17320,X243446_17343,X246396_2361,X247020_27217,X247085_6096,X6349_7011,X99556_26307,X99669_18498
SAMPLE_NAME,,,,,,,,,,,,,,,,,,,,,
OUAR18131,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True

In [671]:
list(rep.sum(axis=0)[rep.sum(axis=0) < 1].index)

[]

Incorrect calls within reps:

In [672]:
iW = []

##### Between
**GBS**

In [673]:
combB = comb[comb['SAMPLE_NAME'].isin(repsB)].drop(labels="WELL",axis=1)
combB['SAMPLE_NAME'] = [ x[:-1] for x in combB['SAMPLE_NAME'] ]
combB = combB.set_index('SAMPLE_NAME')
combB

,X104650_2998,X104795_7287,X107554_774,X112084_4248,X117099_13373,X120320_1376,X121338_5301,X135849_12666,X136296_2709,X137049_4971,...,X236674_44316,X241030_2917,X242562_17320,X243446_17343,X246396_2361,X247020_27217,X247085_6096,X6349_7011,X99556_26307,X99669_18498
SAMPLE_NAME,,,,,,,,,,,,,,,,,,,,,
DB12041,T,G,T,C,NaN,A,G,T,G,G,...,T,C,G,C,A,G,A,A,T,A
FLM15,T,A,C,C,NaN,G,G,C,T,A,...,C,T,G,T,G,A,G,NaN,C,A
LA1139,T,A,T,C,NaN,G,G,CT,GT,GA,...,T,CT,G,C,A,G,AG,A,CT,A
RM11,T,GA,C,C,C,A,G,CT,T,GA,...,C,CT,G,T,G,AG,A,C,CT,TA
SL14,C,NaN,T,C,NaN,G,A,T,G,G,...,T,C,A,C,A,G,G,A,C,T

In [674]:
alleles = {'AT':'TA',
        'TC':'CT',
        'CG':'GC',
        'GT':'TG',
        'AC':'CA',
          'AG':'GA'}
combB = combB.replace(to_replace=alleles)

In [675]:
gbsrep = pd.read_csv("GBS_5reps_91.tab", sep='\t',converters={0:str},index_col = 0)
MAreps = pd.read_csv("../Panel_Design/All_GBS_Test/AllGBS_DB91_filtered_AC.tab", sep='\t',converters={0:str},index_col = 0)

In [676]:
snps = list(combB.columns)
names = list(combB.index)
gbsrep = gbsrep.loc[names,snps]
gbsrep

,X104650_2998,X104795_7287,X107554_774,X112084_4248,X117099_13373,X120320_1376,X121338_5301,X135849_12666,X136296_2709,X137049_4971,...,X236674_44316,X241030_2917,X242562_17320,X243446_17343,X246396_2361,X247020_27217,X247085_6096,X6349_7011,X99556_26307,X99669_18498
SAMPLE_NAME,,,,,,,,,,,,,,,,,,,,,
DB12041,T,G,T,NaN,T,A,G,T,G,G,...,T,C,NaN,C,A,NaN,A,A,T,A
FLM15,T,A,C,G,C,G,G,C,T,A,...,C,T,G,T,G,A,G,C,C,A
LA1139,T,A,T,C,CT,G,G,CT,TG,GA,...,T,CT,G,C,A,G,GA,CA,CT,A
RM11,T,GA,C,C,C,A,G,CT,T,GA,...,C,CT,G,T,G,GA,A,C,CT,TA
SL14,C,A,T,G,C,G,A,T,G,G,...,T,C,A,C,A,G,G,A,C,T

In [677]:
ne_stacked = (combB != gbsrep).stack()
changed = ne_stacked[ne_stacked]
changed.index.names = ['id', 'snp']
changed.head()

id       snp
DB12041  X112084_4248     True
         X117099_13373    True
         X183726_3387     True
         X208950_18711    True
         X224779_3298     True
dtype: bool

In [678]:
%expand ${ }
difference_locations = np.where(combB != gbsrep)
this = combB.values[difference_locations]
gbs = gbsrep.values[difference_locations]
compare = pd.DataFrame({'gbs': gbs, '${suf}': this}, index=changed.index)

In [679]:
iB= compare.groupby(['snp']).size().sort_values(ascending=False)
iB

snp
X117099_13373    4
X112084_4248     3
X188288_3568     3
X6349_7011       2
X196396_44391    2
X228046_17494    2
X224779_3298     2
X145_10612       1
X182187_7007     1
X183726_3387     1
X188831_25784    1
X195403_4772     1
X208950_18711    1
X247020_27217    1
X219104_2929     1
X232694_38736    1
X163651_5669     1
X184380_10942    1
X202212_2423     1
X203605_2031     1
X242562_17320    1
X104795_7287     1
dtype: int64

In [680]:
iBs = list(iB.index)

In [681]:
idx = pd.IndexSlice
compare.loc[idx[:,iBs],:]

                       gbs 051420
id      snp
DB12041 X112084_4248   NaN      C
        X117099_13373    T    NaN
        X183726_3387   NaN      A
        X208950_18711  NaN      A
        X224779_3298   NaN    NaN
        X232694_38736  NaN      T
        X228046_17494    T     TA
        X242562_17320  NaN      G
        X247020_27217  NaN      G
FLM15   X112084_4248     G      C
        X117099_13373    C    NaN
        X188288_3568     G    NaN
        X188831_25784  NaN     TA
        X6349_7011       C    NaN
LA1139  X117099_13373   CT    NaN
        X188288_3568     A    NaN
        X224779_3298     G     GA
        X163651_5669    TA    NaN
        X203605_2031     C    NaN
        X228046_17494   TA    NaN
        X6349_7011      CA      A
RM11    X195403_4772    CA      C
        X196396_44391   GA      G
        X184380_10942  NaN     GA
SL14    X104795_7287     A    NaN
        X112084_4248     G      C
        X117099_13373    C    NaN
        X145_10612       C    NaN
        X182187_7007   NaN      G
        X188288_3568     G    NaN
        X196396_44391    A    NaN
        X219104_2929     A    NaN
        X202212_2423     A    NaN

In [682]:
compna = compare.dropna()
#compna.sort_index(inplace=True)

In [683]:
compna.loc[idx[:,iBs],:]

                      gbs 051420
id      snp
DB12041 X228046_17494   T     TA
FLM15   X112084_4248    G      C
LA1139  X224779_3298    G     GA
        X6349_7011     CA      A
RM11    X195403_4772   CA      C
        X196396_44391  GA      G
SL14    X112084_4248    G      C

In [684]:
i = ["X112084_4248"]

**MA**

In [685]:
MAreps = MAreps.loc[gbsrep.index,snps]
MAreps

,X104650_2998,X104795_7287,X107554_774,X112084_4248,X117099_13373,X120320_1376,X121338_5301,X135849_12666,X136296_2709,X137049_4971,...,X236674_44316,X241030_2917,X242562_17320,X243446_17343,X246396_2361,X247020_27217,X247085_6096,X6349_7011,X99556_26307,X99669_18498
SAMPLE_NAME,,,,,,,,,,,,,,,,,,,,,
DB12041,T,G,T,C,T,A,G,T,G,G,...,T,C,G,C,A,G,A,A,T,A
FLM15,T,A,C,C,CT,G,G,C,T,A,...,C,T,G,T,G,A,G,NaN,C,A
LA1139,T,A,T,C,CT,G,G,CT,TG,GA,...,T,CT,G,C,A,G,GA,A,CT,A
RM11,T,GA,C,C,C,A,G,CT,T,GA,...,C,CT,G,T,G,GA,A,NaN,CT,TA
SL14,C,A,T,C,C,G,A,T,G,G,...,T,C,A,C,A,G,G,A,C,T

In [686]:
ne_stacked = (combB != MAreps).stack()
changed = ne_stacked[ne_stacked]
changed.index.names = ['id', 'snp']

In [687]:
%expand ${ }
difference_locations = np.where(combB != MAreps)
this = combB.values[difference_locations]
ma = MAreps.values[difference_locations]
compare = pd.DataFrame({'MA': ma, '${suf}': this}, index=changed.index)

In [688]:
iB= compare.groupby(['snp']).size().sort_values(ascending=False)
iB

snp
X219104_2929     5
X117099_13373    4
X188288_3568     3
X6349_7011       2
X196396_44391    2
X228046_17494    1
X203605_2031     1
X202212_2423     1
X184380_10942    1
X163651_5669     1
X224779_3298     1
X145_10612       1
X104795_7287     1
dtype: int64

In [689]:
iBs = list(iB.index)

In [690]:
idx = pd.IndexSlice
compare.loc[idx[:,iBs],:]

                        MA 051420
id      snp
DB12041 X117099_13373    T    NaN
        X219104_2929   NaN      G
        X224779_3298    GA    NaN
FLM15   X117099_13373   CT    NaN
        X188288_3568     G    NaN
        X219104_2929   NaN      G
        X6349_7011     NaN    NaN
LA1139  X117099_13373   CT    NaN
        X188288_3568     A    NaN
        X219104_2929   NaN      G
        X163651_5669    TA    NaN
        X203605_2031     C    NaN
        X228046_17494   TA    NaN
RM11    X196396_44391   GA      G
        X219104_2929   NaN      G
        X184380_10942    A     GA
        X6349_7011     NaN      C
SL14    X104795_7287     A    NaN
        X117099_13373    C    NaN
        X145_10612       C    NaN
        X188288_3568     G    NaN
        X196396_44391    A    NaN
        X219104_2929   NaN    NaN
        X202212_2423     A    NaN

In [691]:
compna = compare.dropna()
#compna.sort_index(inplace=True)

In [692]:
compna.loc[idx[:,iBs],:]

                    MA 051420
id   snp
RM11 X196396_44391  GA      G
     X184380_10942   A     GA

In [693]:
i

['X112084_4248']

In [694]:
i = i + ["X184380_10942","X196396_44391"]

In [695]:
%expand
increps["{suf}"]=i
increps

{'041720': {'X112084_4248',
  'X117099_13373',
  'X126488_13871',
  'X145_10612',
  'X183726_3387',
  'X188611_1228',
  'X197051_909',
  'X224779_3298',
  'X228046_17494',
  'X232694_38736',
  'X247020_27217'},
 '042420': ['X104650_2998',
  'X104795_7287',
  'X203605_2031',
  'X203078_7413',
  'X224014_1072',
  'X163651_5669',
  'X184380_10942',
  'X241030_2917',
  'X145_10612'],
 '043020': ['X112084_4248',
  'X203605_2031',
  'X163651_5669',
  'X184380_10942',
  'X241030_2917',
  'X104795_7287',
  'X104650_2998',
  'X232070_4307',
  'X8113_1011',
  'X196396_44391'],
 '050720': ['X112084_4248',
  'X104795_7287',
  'X2156_1716',
  'X196396_44391',
  'X247020_27217',
  'X241030_2917'],
 '051420': ['X112084_4248', 'X184380_10942', 'X196396_44391']}

## List samples that need to be re-extracted

In [696]:
badSampleDict

{'041720': ['DB60778'],
 '042420': ['HA5',
  'NC20317',
  'NC20372',
  'NC20385',
  'SL14B',
  'NC20377',
  'MF4',
  'NC20096B',
  'NC20301',
  'NC20339',
  'NC20297',
  'MF3',
  'HA3'],
 '043020': ['SL14B', 'BM2597', 'LSRC15', 'LA1139B', 'WH72', 'RM11B'],
 '050720': ['SR5', 'WP32'],
 '051420': ['SL14B',
  'OUAR1890',
  'HRTN18256',
  'HRTN18257',
  'HRTN18259',
  'HRTN18257B',
  'HRTN18261']}

* DB60778  
* HA5 
* HA3'
* 'NC20317',
* NC20372',
* NC20385',
* NC20377',
* MF4',
* MF3'
* NC20096B',
* NC20301',
* NC20339',
* NC20297',
* 'BM2597'
* 'LSRC15'
* 'WH72',
* 'SR5', 
* 'WP32'
* 'HRTN18256'
* 'HRTN18261'
* HRTN18257
* HRTN18259
* SL14
* OUAR1890

In [136]:
# write file of good samples

with open('goodSamps_0417_0514', 'w') as filehandle:
    filehandle.writelines("%s\n" % s for s in sorted(goodSamps))

## ID SNPs that fail a lot or are inconsistent

In [698]:
bad52SnpDict

{'041720': ['X126230_13777',
  'X141791_7873',
  'X190236_2746',
  'X194561_9140',
  'X194968_5912',
  'X2156_1716',
  'X218289_7454',
  'X221258_4404'],
 '042420': ['X117099_13373',
  'X126230_13777',
  'X141791_7873',
  'X183726_3387',
  'X190236_2746',
  'X194561_9140',
  'X194968_5912',
  'X2156_1716',
  'X218289_7454',
  'X221258_4404'],
 '043020': ['X107554_774',
  'X126230_13777',
  'X141791_7873',
  'X190236_2746',
  'X194561_9140',
  'X194968_5912',
  'X2156_1716',
  'X218289_7454',
  'X221258_4404'],
 '050720': ['X117099_13373',
  'X126230_13777',
  'X141791_7873',
  'X188288_3568',
  'X190236_2746',
  'X194561_9140',
  'X194968_5912',
  'X218289_7454',
  'X221258_4404',
  'X248436_64413'],
 '051420': ['X126230_13777',
  'X141791_7873',
  'X190236_2746',
  'X194561_9140',
  'X194968_5912',
  'X2156_1716',
  'X218289_7454',
  'X221258_4404']}

In [703]:
d = []
for key, value in bad52SnpDict.items():
    d.append(value)
isect = set(d[0]).intersection(*d[:1])
isect

{'X126230_13777',
 'X141791_7873',
 'X190236_2746',
 'X194561_9140',
 'X194968_5912',
 'X2156_1716',
 'X218289_7454',
 'X221258_4404'}

In [705]:
d = []
for key, value in bad52SnpDict.items():
    d.append(value)
un = set().union(*d)
un

{'X107554_774',
 'X117099_13373',
 'X126230_13777',
 'X141791_7873',
 'X183726_3387',
 'X188288_3568',
 'X190236_2746',
 'X194561_9140',
 'X194968_5912',
 'X2156_1716',
 'X218289_7454',
 'X221258_4404',
 'X248436_64413'}

In [706]:
bad39SnpDict

{'041720': ['X201239_10000', 'X205485_3157', 'X230449_27274'],
 '042420': ['X201239_10000', 'X205485_3157', 'X230449_27274', 'X6349_7011'],
 '043020': ['X201239_10000', 'X205485_3157', 'X230449_27274'],
 '050720': ['X201239_10000', 'X205485_3157', 'X230449_27274', 'X6349_7011'],
 '051420': ['X201239_10000', 'X205485_3157', 'X230449_27274']}

In [707]:
d = []
for key, value in bad39SnpDict.items():
    d.append(value)
isect = set(d[0]).intersection(*d[:1])
isect

{'X201239_10000', 'X205485_3157', 'X230449_27274'}

In [708]:
d = []
for key, value in bad39SnpDict.items():
    d.append(value)
un = set().union(*d)
un

{'X201239_10000', 'X205485_3157', 'X230449_27274', 'X6349_7011'}

In [709]:
# inconsistent with reps
increps

{'041720': {'X112084_4248',
  'X117099_13373',
  'X126488_13871',
  'X145_10612',
  'X183726_3387',
  'X188611_1228',
  'X197051_909',
  'X224779_3298',
  'X228046_17494',
  'X232694_38736',
  'X247020_27217'},
 '042420': ['X104650_2998',
  'X104795_7287',
  'X203605_2031',
  'X203078_7413',
  'X224014_1072',
  'X163651_5669',
  'X184380_10942',
  'X241030_2917',
  'X145_10612'],
 '043020': ['X112084_4248',
  'X203605_2031',
  'X163651_5669',
  'X184380_10942',
  'X241030_2917',
  'X104795_7287',
  'X104650_2998',
  'X232070_4307',
  'X8113_1011',
  'X196396_44391'],
 '050720': ['X112084_4248',
  'X104795_7287',
  'X2156_1716',
  'X196396_44391',
  'X247020_27217',
  'X241030_2917'],
 '051420': ['X112084_4248', 'X184380_10942', 'X196396_44391']}

In [710]:
d = []
for key, value in increps.items():
    d.append(value)
isect = set(d[0]).intersection(*d[:1])
isect

{'X112084_4248',
 'X117099_13373',
 'X126488_13871',
 'X145_10612',
 'X183726_3387',
 'X188611_1228',
 'X197051_909',
 'X224779_3298',
 'X228046_17494',
 'X232694_38736',
 'X247020_27217'}

In [711]:
d = []
for key, value in increps.items():
    d.append(value)
un = set().union(*d)
un

{'X104650_2998',
 'X104795_7287',
 'X112084_4248',
 'X117099_13373',
 'X126488_13871',
 'X145_10612',
 'X163651_5669',
 'X183726_3387',
 'X184380_10942',
 'X188611_1228',
 'X196396_44391',
 'X197051_909',
 'X203078_7413',
 'X203605_2031',
 'X2156_1716',
 'X224014_1072',
 'X224779_3298',
 'X228046_17494',
 'X232070_4307',
 'X232694_38736',
 'X241030_2917',
 'X247020_27217',
 'X8113_1011'}

### 052920, just to get good samps

In [1]:
suf = "052920"

#### Read in autoclustered genotype reports

In [7]:
%expand
infile1 = "{suf}/GenotypeArea_Katherine_DB_CHIP770_CHIP770_DB52_{suf}_1_ACme.xls"
infile2 = "{suf}/GenotypeArea_Katherine_DB_CHIP771_DB39_{suf}_CHIP771_DB39_{suf}_1_ACme.xls"

In [8]:
# read in Genotypes sheet from excel file 
inxl52 = pd.ExcelFile(infile1)
inxl39 = pd.ExcelFile(infile2)

## ID and remove bad samples

In [10]:
def p2f(x):
    return float(x.strip('%'))/100

db52_sample = inxl52.parse('Sample_Summary', converters={'CallRate':p2f})
#db52_sample.loc[100:,]

In [11]:
failed52_sampleDF = db52_sample[db52_sample['CallRate'] < 0.8]
failed52_sample = set(failed52_sampleDF["SAMPLE_NAME"] + "_"+failed52_sampleDF["WELL"])
failed52_sample

{'CAN11619rq_G02', 'Otter2_H11', 'SL32_F04'}

In [12]:

db39_sample = inxl39.parse('Sample_Summary', converters={'CallRate':p2f})
#db39_sample.loc[50:100,]

In [13]:
failed39_sampleDF = db39_sample[db39_sample['CallRate'] < 0.8]
failed39_sample = set(failed39_sampleDF["SAMPLE_NAME"] + "_"+failed39_sampleDF["WELL"])
failed39_sample

{'CAN11619rq_G02', 'SL32_F04', 'WP32B_A02'}

In [14]:
#Intersection
failed39_sample.intersection(failed52_sample)

{'CAN11619rq_G02', 'SL32_F04'}

In [15]:
# Union
union_bad_samp = set(failed52_sampleDF['SAMPLE_NAME']).union(set(failed39_sampleDF['SAMPLE_NAME']))
union_bad_samp

{'CAN11619rq', 'Otter2', 'SL32', 'WP32B'}

In [16]:
%expand
badSampleDict["{suf}"] = list(union_bad_samp)
badSampleDict

{'052920': ['SL32', 'WP32B', 'Otter2', 'CAN11619rq']}

In [17]:
pass52 = db52_sample[~db52_sample['SAMPLE_NAME'].isin(union_bad_samp)]
pass39 = db39_sample[~db39_sample['SAMPLE_NAME'].isin(union_bad_samp)]

In [18]:
goodSamps = goodSamps + list(pass52['SAMPLE_NAME'])

In [19]:
# add to existing goodSamps file
with open("goodSamps_0417_0514", "a") as myfile:
    myfile.writelines("%s\n" % s for s in sorted(goodSamps))

### 082420, just to get good samps

In [7]:
suf = "082520"

#### Read in autoclustered genotype reports

In [8]:
%expand
infile1 = "{suf}/comb_GenotypeArea_Katherine_DB_CHIP796_CHIP818_DB52_{suf}_CHIP796_DB52_{suf}_2_AC.xls"
infile2 = "{suf}/GenotypeArea_Katherine_DB_CHIP797_DB39_{suf}_CHIP797_DB39_{suf}_2_AC.xls"

In [14]:
# read in Genotypes sheet from excel file 
inxl52 = pd.ExcelFile(infile1)
inxl39 = pd.ExcelFile(infile2)

## ID and remove bad samples

In [15]:
def p2f(x):
    return float(x.strip('%'))/100

db52_sample = inxl52.parse('Sample_Summary', converters={'CallRate':p2f})
#db52_sample.loc[100:,]

In [16]:
failed52_sampleDF = db52_sample[db52_sample['CallRate'] < 0.8]
failed52_sample = set(failed52_sampleDF["SAMPLE_NAME"] + "_"+failed52_sampleDF["WELL"])
failed52_sample

{'FLF17r_E08', 'LOM17128_G09', 'OC1761_D12'}

In [17]:

db39_sample = inxl39.parse('Sample_Summary', converters={'CallRate':p2f})
#db39_sample.loc[50:100,]

In [18]:
failed39_sampleDF = db39_sample[db39_sample['CallRate'] < 0.8]
failed39_sample = set(failed39_sampleDF["SAMPLE_NAME"] + "_"+failed39_sampleDF["WELL"])
failed39_sample

{'BR18164_G05', 'LOM17128_G09', 'OC1761_D12', 'RM11r_H08'}

In [19]:
#Intersection
failed39_sample.intersection(failed52_sample)

{'LOM17128_G09', 'OC1761_D12'}

In [20]:
# Union
union_bad_samp = set(failed52_sampleDF['SAMPLE_NAME']).union(set(failed39_sampleDF['SAMPLE_NAME']))
union_bad_samp

{'BR18164', 'FLF17r', 'LOM17128', 'OC1761', 'RM11r'}

In [21]:
%expand
badSampleDict["{suf}"] = list(union_bad_samp)
badSampleDict

{'082520': ['BR18164', 'OC1761', 'RM11r', 'FLF17r', 'LOM17128']}

In [22]:
pass52 = db52_sample[~db52_sample['SAMPLE_NAME'].isin(union_bad_samp)]
pass39 = db39_sample[~db39_sample['SAMPLE_NAME'].isin(union_bad_samp)]

In [23]:
goodSamps = goodSamps + list(pass52['SAMPLE_NAME'])

In [25]:
# add to existing goodSamps file
with open("goodSamps_0219_0529", "a") as myfile:
    myfile.writelines("%s\n" % s for s in sorted(goodSamps))

### 100520, just to get good samps

In [26]:
suf = "100520"

#### Read in autoclustered genotype reports

In [27]:
%expand
infile1 = "{suf}/comb_GenotypeArea_Katherine_DB_CHIP819_CHIP814_DB52_101220_814redo_CHIP819_DB52_101220_814redo_1_AC.xls"
infile2 = "{suf}/comb_GenotypeArea_Katherine_DB_CHIP820_CHIP815_DB39_101220_CHIP820_DB39_101220_815redo_1_ACme.xls"

In [30]:
# read in Genotypes sheet from excel file 
inxl52 = pd.ExcelFile(infile1)
inxl39 = pd.ExcelFile(infile2)

## ID and remove bad samples

In [31]:
def p2f(x):
    return float(x.strip('%'))/100

db52_sample = inxl52.parse('Sample_Summary', converters={'CallRate':p2f})
#db52_sample.loc[100:,]

In [39]:
failed52_sampleDF = db52_sample[db52_sample['CallRate'] < 0.8]
failed52_sample = set(failed52_sampleDF["SAMPLE_NAME"])
failed52_sample

{'LA2058s', 'VA19667', 'VA19773', 'VA19789', 'VA19805', 'VA19815', 'VA19831'}

In [36]:

db39_sample = inxl39.parse('Sample_Summary', converters={'CallRate':p2f})
#db39_sample.loc[50:100,]

In [40]:
failed39_sampleDF = db39_sample[db39_sample['CallRate'] < 0.8]
failed39_sample = set(failed39_sampleDF["SAMPLE_NAME"])
failed39_sample

{'LA2058s', 'VA19773', 'VA19789', 'VA19815'}

In [41]:
#Intersection
failed39_sample.intersection(failed52_sample)

{'LA2058s', 'VA19773', 'VA19789', 'VA19815'}

In [42]:
# Union
union_bad_samp = set(failed52_sampleDF['SAMPLE_NAME']).union(set(failed39_sampleDF['SAMPLE_NAME']))
union_bad_samp

{'LA2058s', 'VA19667', 'VA19773', 'VA19789', 'VA19805', 'VA19815', 'VA19831'}

In [43]:
%expand
badSampleDict["{suf}"] = list(union_bad_samp)
badSampleDict

{'082520': ['BR18164', 'OC1761', 'RM11r', 'FLF17r', 'LOM17128'],
 '100520': ['VA19789',
  'VA19805',
  'VA19773',
  'LA2058s',
  'VA19815',
  'VA19831',
  'VA19667']}

In [44]:
pass52 = db52_sample[~db52_sample['SAMPLE_NAME'].isin(union_bad_samp)]
pass39 = db39_sample[~db39_sample['SAMPLE_NAME'].isin(union_bad_samp)]

In [45]:
goodSamps = list(pass52['SAMPLE_NAME'])

In [46]:
# add to existing goodSamps file
with open("goodSamps_0219_0825", "a") as myfile:
    myfile.writelines("%s\n" % s for s in sorted(goodSamps))

### 120720, just to get good samps

In [2]:
suf = "120720"

#### Read in autoclustered genotype reports

In [5]:
%expand
infile1 = "{suf}/GenotypeArea_Katherine_DB_CHIP834_DB52_{suf}20_CHIP834_DB52_{suf}20_1_ACme.xls"
infile2 = "{suf}/GenotypeArea_Katherine_DB_CHIP835_DB39_{suf}20_CHIP835_D392_{suf}20_1_ACme.xls"

In [6]:
# read in Genotypes sheet from excel file 
inxl52 = pd.ExcelFile(infile1)
inxl39 = pd.ExcelFile(infile2)

## ID and remove bad samples

In [7]:
def p2f(x):
    return float(x.strip('%'))/100

db52_sample = inxl52.parse('Sample_Summary', converters={'CallRate':p2f})
#db52_sample.loc[100:,]

In [8]:
failed52_sampleDF = db52_sample[db52_sample['CallRate'] < 0.8]
failed52_sample = set(failed52_sampleDF["SAMPLE_NAME"])
failed52_sample

{'LDWF20_119',
 'LDWF20_122',
 'LDWF20_127',
 'LDWF20_151',
 'LDWF20_87',
 'MDNR20_11',
 'MDNR20_19',
 'MDNR20_25',
 'VADGIF19_578',
 'VADGIF19_667',
 'VADGIF19_805'}

In [9]:

db39_sample = inxl39.parse('Sample_Summary', converters={'CallRate':p2f})
#db39_sample.loc[50:100,]

In [10]:
failed39_sampleDF = db39_sample[db39_sample['CallRate'] < 0.8]
failed39_sample = set(failed39_sampleDF["SAMPLE_NAME"])
failed39_sample

{'LDWF20_146', 'LDWF20_149'}

In [11]:
#Intersection
failed39_sample.intersection(failed52_sample)

set()

In [12]:
# Union
union_bad_samp = set(failed52_sampleDF['SAMPLE_NAME']).union(set(failed39_sampleDF['SAMPLE_NAME']))
union_bad_samp

{'LDWF20_119',
 'LDWF20_122',
 'LDWF20_127',
 'LDWF20_146',
 'LDWF20_149',
 'LDWF20_151',
 'LDWF20_87',
 'MDNR20_11',
 'MDNR20_19',
 'MDNR20_25',
 'VADGIF19_578',
 'VADGIF19_667',
 'VADGIF19_805'}

In [43]:
%expand
badSampleDict["{suf}"] = list(union_bad_samp)
badSampleDict

{'082520': ['BR18164', 'OC1761', 'RM11r', 'FLF17r', 'LOM17128'],
 '100520': ['VA19789',
  'VA19805',
  'VA19773',
  'LA2058s',
  'VA19815',
  'VA19831',
  'VA19667']}

In [44]:
pass52 = db52_sample[~db52_sample['SAMPLE_NAME'].isin(union_bad_samp)]
pass39 = db39_sample[~db39_sample['SAMPLE_NAME'].isin(union_bad_samp)]

In [45]:
goodSamps = list(pass52['SAMPLE_NAME'])

In [46]:
# add to existing goodSamps file
with open("goodSamps_0219_0825", "a") as myfile:
    myfile.writelines("%s\n" % s for s in sorted(goodSamps))